Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Prepare new release v0.33.2.
  CHANGELOG.md
Due: none

Delete stale file.
  crates/core/src/server/init.rs
Due: cargofmt, cargoclippy, cargotest

Remove optional (and off by default) SwaggerUi feature now that we have rapidoc integration in admin UI.
  Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
Due: cargofmt, cargoclippy, cargotest

Compress embedded assets to reduce binary size by 3MB.
  Cargo.lock
  Cargo.toml
Due: none

Wire OpenApiRouter through from WASM setup and clean-up WASM integration.
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/admin/wasm.rs
  crates/core/src/app_state.rs
  crates/core/src/auth/api/status.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/lib.rs
  crates/core/src/server/mod.rs
  crates/core/src/wasm/mod.rs
  crates/sqlite/Cargo.toml
  crates/wasm-component-repo/Cargo.toml
  crates/wasm-runtime-axum/Cargo.toml
  crates/wasm-runtime-axum/examples/standalone.rs
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-host/Cargo.toml
Due: cargofmt, cargoclippy, cargotest

Clean up AppState initialization from a long time ago when AppState init was two-phase.
  crates/core/src/app_state.rs
Due: cargofmt, cargoclippy, cargotest

Remove `public_dir` from AppState and instead inject a `HasRoot` extension that also incorporates WASM routes.
  crates/cli/src/bin/trail.rs
  crates/core/src/app_state.rs
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/login_anonymous.rs
  crates/core/src/auth/api/logout.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/extract/mod.rs
  crates/core/src/openapi.rs
  crates/core/src/server/mod.rs
  crates/core/tests/admin_permissions_test.rs
  crates/core/tests/core_integration_test.rs
  crates/core/tests/public_dir_spa_test.rs
  crates/core/tests/public_dir_test.rs
  crates/core/tests/tls_test.rs
  examples/custom-binary/src/main.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Update wasmtime.
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/src/prefs.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Add scheme and authority back to default_send_request implementation :/
  Cargo.lock
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-host/Cargo.toml
  crates/wasm-runtime-host/src/default_send_request.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Show endpoints exposed by WASM components in OpenApi explorer.
  Cargo.lock
  crates/assets/js/admin/src/components/openapi/OpenApiPage.tsx
  crates/core/src/admin/openapi.rs
  crates/core/src/openapi.rs
  crates/core/src/server/mod.rs
  crates/wasm-runtime-axum/Cargo.toml
  crates/wasm-runtime-axum/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Share governor for auth-rate-limiting across routers when there's a separate admin router.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/openapi.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Add path parameters to OpenApi WASM endpoints.
  Cargo.lock
  crates/core/src/admin/openapi.rs
  crates/wasm-runtime-axum/Cargo.toml
  crates/wasm-runtime-axum/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: none

Allow binding server to a unix domain socket (UDS). Closes #261.
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/core/benches/benchmark.rs
  crates/core/src/lib.rs
  crates/core/src/server/mod.rs
  crates/core/src/server/serve.rs
  crates/core/src/socket_address.rs
  crates/core/tests/admin_permissions_test.rs
  crates/core/tests/core_integration_test.rs
  crates/core/tests/public_dir_spa_test.rs
  crates/core/tests/public_dir_test.rs
  crates/core/tests/tls_test.rs
  examples/custom-binary/src/main.rs
Due: cargofmt, cargoclippy, cargotest

Disable rust-embed compression for components, since we're getting wasm-component-ld errors related to ZSTD.
  Cargo.toml
  crates/assets/Cargo.toml
  crates/core/Cargo.toml
Due: none

Bump hard deadline on WASM jobs to 60min for now. We should probably plumb it through and make it user-configurable. #278
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-host/Cargo.toml
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.33.3.
  CHANGELOG.md
Due: none

Remove UDS support from Windows to unbrick builds.
  crates/core/src/server/mod.rs
  crates/core/src/server/serve.rs
Due: cargofmt, cargoclippy, cargotest

Add Windows build-only workflow to test CI.
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Update wasmtime v47 => v48.
  Cargo.lock
  Cargo.toml
  client/testfixture/guests/rust/Cargo.toml
  crates/build/Cargo.toml
  crates/cli/Cargo.toml
  crates/client/Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/pg-schema/Cargo.toml
  crates/qs/Cargo.toml
  crates/refinery/Cargo.toml
  crates/schema/Cargo.toml
  crates/sqlite/Cargo.toml
  crates/sqlvalue/Cargo.toml
  crates/wasi-keyvalue/Cargo.toml
  crates/wasm-component-repo/Cargo.toml
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-host/Cargo.toml
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/src/prefs.rs
  crates/wasm-runtime-host/src/sqlite.rs
  docs/examples/record_api_rs/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
  examples/wasm-guest-rust/Cargo.toml
Due: cargofmt, cargoclippy, cargotest

WIP.
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/admin/src/components/Table.tsx
  crates/assets/js/client/package.json
  crates/auth-ui/ui/package.json
  docs/examples/record_api_ts/package.json
  docs/examples/wasm-guest-ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
Due: none

Update JavaScript dependencies.
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/admin/src/components/logs/LogsPage.tsx
  crates/assets/js/client/package.json
  crates/auth-ui/ui/package.json
  docs/examples/record_api_ts/package.json
  docs/examples/wasm-guest-ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
Due: none

Minor: make the admin UI linter happier.
  crates/assets/js/admin/eslint.config.mjs
  crates/assets/js/admin/src/components/auth/AuthButton.tsx
  crates/assets/js/admin/src/components/erd/ErdGraph.tsx
  crates/assets/js/admin/src/components/openapi/OpenApiPage.tsx
Due: none

Wire user-configurable Job execution timeout through from config and WASM guests. #278
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/admin/proto/config_api.ts
  crates/assets/js/admin/proto/google/protobuf/descriptor.ts
  crates/assets/js/admin/proto/metadata.ts
  crates/assets/js/admin/proto/vault.ts
  crates/core/proto/config.proto
  crates/core/src/admin/wasm.rs
  crates/core/src/app_state.rs
  crates/core/src/connection.rs
  crates/core/src/scheduler.rs
  crates/core/src/wasm/mod.rs
  crates/core/tests/core_integration_test.rs
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-common/src/manifest.rs
  crates/wasm-runtime-guest/src/job.rs
  crates/wasm-runtime-guest/src/lib.rs
  guests/typescript/generated/common/Job.ts
  guests/typescript/src/index.ts
  guests/typescript/src/job/index.ts
Due: cargofmt, cargoclippy, cargotest

Disable compression of embedded components again. It seems to have increased binary size for release builds.
  Cargo.lock
  crates/assets/Cargo.toml
  crates/core/Cargo.toml
Due: none

Add `Protobuf` extractor tests, add schema to textproto preamble, and actually use/update `metadata.textproto`.
  Makefile
  client/testfixture/config.textproto
  client/testfixture/secrets/secrets.textproto
  crates/build/src/version.rs
  crates/core/src/app_state.rs
  crates/core/src/config.rs
  crates/core/src/extract/protobuf.rs
  crates/core/src/metadata.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Fix auth API's offset for dedicated admin router. Fixes #279.
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies and prepare new release v0.33.4.
  CHANGELOG.md
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
Due: none

Add support for textproto to admin `(update|get)_config` endpoints to hopefully help with MCP use-cases.
  crates/core/src/admin/config/get_config.rs
  crates/core/src/admin/config/update_config.rs
  crates/core/src/app_state.rs
  crates/core/src/config.rs
  crates/core/src/extract/protobuf.rs
  crates/core/src/lib.rs
  crates/core/src/textproto.rs
Due: cargofmt, cargoclippy, cargotest

Add user `register` method to all clients + tests + docs.
  client/dart/lib/src/client.dart
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/bindings/RegisterUserRequest.ts
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/unit.test.ts
  crates/client/src/client.rs
  crates/client/tests/client_integration_test.rs
  crates/core/src/auth/api/register.rs
  docs/src/content/docs/documentation/auth.mdx
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Prepare new client releases for new `register` method.
  Cargo.lock
  Cargo.toml
  client/dart/pubspec.yaml
  client/dotnet/trailbase/TrailBase.csproj
  client/kotlin/lib/build.gradle.kts
  client/python/pyproject.toml
  crates/assets/js/client/package.json
  crates/client/Cargo.toml
Due: kotlin_test

Add impersonation to the Admin UI via the rapidoc "try" feature.
  crates/assets/js/admin/src/components/accounts/AccountsPage.tsx
  crates/assets/js/admin/src/components/openapi/OpenApiPage.tsx
  crates/assets/js/admin/src/lib/api/mint.ts
  crates/assets/js/admin/src/lib/utils.ts
  crates/assets/js/bindings/MintRequest.ts
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/core/src/admin/email.rs
  crates/core/src/admin/mint.rs
  crates/core/src/admin/mod.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/cli.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
  crates/wasm-runtime-host/Cargo.toml
Due: none

Prepare new release v0.33.5.
  CHANGELOG.md
Due: none

Admin UI styling: merge verified and unverified emails into single column.
  crates/assets/js/admin/src/components/accounts/AccountsPage.tsx
Due: none

Wire up config to be take into consideration for the `openapi` and `mcp` sub-commands.
  Makefile
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/core/src/admin/openapi.rs
  crates/core/src/config.rs
  crates/core/src/lib.rs
  crates/core/src/openapi.rs
  crates/core/src/server/mod.rs
  docs/openapi/schema.json
Due: cargofmt, cargoclippy, cargotest

ci: update and big refactor of the Github workflows
  .github/actions/release_component/action.yml
  .github/actions/setup_build/action.yml
  .github/actions/setup_clients/action.yml
  .github/actions/setup_pnpm/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: bump Dart deps to fix dart_analyze pre-commit hook
  pubspec.lock
Due: none

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
