Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

For intergration tests, use a shared setup script to ensure consistency and make it easier to change.
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/go/trailbase/client_test.go
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  client/python/tests/test_client.py
  client/runner.py
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/client/tests/start_server.ts
  crates/client/tests/server/mod.rs
  crates/core/tests/core_integration_test.rs
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Fix JSON schema for nullable ANY columns and update csv-parse dependency.
  client/dart/test/trailbase_test.dart
  crates/client/tests/server/mod.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/update_record.rs
  crates/schema/src/db/metadata.rs
  crates/schema/src/json_schema/mod.rs
  examples/data-cli-tutorial/package.json
  examples/data-cli-tutorial/src/fill.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargofmt, cargoclippy, cargotest

Add a unique `_user.unverified_email` constraint and a periodic cleanup for users with unverified email addresses. Fixes #298.
  crates/core/migrations/main/U1791097712__unique_unverified_email.sql
  crates/core/migrations/pg_main/U1791097712__unique_unverified_email.sql
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/api/verify_email.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/mod.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: none

Prepare new release v0.34.4.
  CHANGELOG.md
Due: none

Return conflict.
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/auth_test.rs
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
