Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Kotlin client: log out on 401 token refresh.
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
Due: kotlin_test

Dotnet client: log out on 401 token refresh.
  client/dotnet/trailbase/Client.cs
Due: none

Swift client: log out on 401 token refresh.
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
Due: swift_format, swift_test

Python client: log out on 401 token refresh.
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

Dart client: log out on 401 token refresh.
  client/dart/lib/src/client.dart
Due: none

Go client: log out on 401 refresh token.
  client/go/trailbase/client.go
Due: go_format, go_test

Improve error message from unexpected WASM component failures, e.g. a component panics.
  crates/core/src/wasm/mod.rs
Due: cargofmt, cargoclippy, cargotest

Rust client: log out on 401 token refresh.
  crates/client/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: none

Prepare new release v0.26.3.
  CHANGELOG.md
Due: none

Prepare new client releases.
  Cargo.lock
  Cargo.toml
  client/dart/CHANGELOG.md
  client/dart/pubspec.yaml
  client/dotnet/trailbase/TrailBase.csproj
  client/kotlin/lib/build.gradle.kts
  client/python/pyproject.toml
  crates/assets/js/client/package.json
  crates/client/Cargo.toml
Due: kotlin_test

Minor: update PocketBase comparison docs.
  docs/src/content/docs/comparison/pocketbase.mdx
Due: none

Move `trailbase-sqlite` APIs around and further untangle rusqlite from `Row[s]`.
  Cargo.toml
  crates/core/src/admin/query.rs
  crates/core/src/connection.rs
  crates/sqlite/benches/synthetic/benchmark.rs
  crates/sqlite/src/connection.rs
  crates/sqlite/src/error.rs
  crates/sqlite/src/experimental/mod.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/rows.rs
  crates/sqlite/src/sqlite/batch.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/sqlite/executor.rs
  crates/sqlite/src/sqlite/mod.rs
  crates/sqlite/src/sqlite/util.rs
  crates/sqlite/src/tests.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Audit remaining uses of "leaky" `trailbase_sqlite` APIs and remove some unecessary uses.
  crates/core/src/admin/user/update_user.rs
  crates/core/src/migrations.rs
  crates/sqlite/src/sqlite/connection.rs
Due: cargofmt, cargoclippy, cargotest

Use index-0 SQLite thread both for reading and writing. Additionally, some more API consistency/cleanups.
  Cargo.lock
  crates/core/benches/benchmark.rs
  crates/core/src/admin/table/alter_index.rs
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/admin/table/create_index.rs
  crates/core/src/admin/table/create_table.rs
  crates/core/src/admin/table/drop_index.rs
  crates/core/src/admin/table/drop_table.rs
  crates/core/src/connection.rs
  crates/core/src/logging.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/tests.rs
  crates/core/src/records/test_utils.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/write_queries.rs
  crates/core/src/scheduler.rs
  crates/core/src/server/mod.rs
  crates/core/src/transaction.rs
  crates/core/tests/integration_test.rs
  crates/sqlite/Cargo.toml
  crates/sqlite/benches/synthetic/benchmark.rs
  crates/sqlite/benches/synthetic/connection.rs
  crates/sqlite/src/sqlite/batch.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/sqlite/executor.rs
  crates/sqlite/src/tests.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Cleanup `trailbase-sqlite` error handling.
  crates/core/src/admin/logs/stats.rs
  crates/core/src/admin/table/mod.rs
  crates/core/src/connection.rs
  crates/core/src/logging.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/write_queries.rs
  crates/core/src/scheduler.rs
  crates/core/src/transaction.rs
  crates/schema/src/json_schema.rs
  crates/sqlite/src/sqlite/batch.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/sqlite/executor.rs
  crates/sqlite/src/tests.rs
Due: cargofmt, cargoclippy, cargotest

Add updated/created timestamps to accounts page in the admin dashboard.
  crates/assets/js/admin/src/components/accounts/AccountsPage.tsx
  crates/assets/js/bindings/UserJson.ts
  crates/core/src/admin/user/list_users.rs
Due: cargofmt, cargoclippy, cargotest

Explicitly mark read-only sqlite connections using the `query_only` pragma.
  crates/sqlite/src/sqlite/executor.rs
Due: cargofmt, cargoclippy, cargotest

Have DB transcation WASM host implementations await a DB lock asynchronously. Add more tests.
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/sqlite/src/sqlite/executor.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/wasm-runtime-guest/wit/trailbase/database/world.wit
  crates/wasm-runtime-host/src/host.rs
Due: cargofmt, cargoclippy, cargotest

Implement Transaction WASI resource for Rust host and guest (JS guest pending).
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/wit/trailbase/database/world.wit
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Ues Transaction WASI resource in JS and bump WASI component versions.
  client/testfixture/wasm/auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-guest/wit/trailbase/component/sqlite.wit
  crates/wasm-runtime-guest/wit/trailbase/component/world.wit
  crates/wasm-runtime-guest/wit/trailbase/database/world.wit
  guests/typescript/generated/types/interfaces.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-init-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-sqlite-function-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-database-sqlite.d.ts
  guests/typescript/src/db/index.ts
  guests/typescript/src/db/value.ts
  guests/typescript/src/http/request.ts
  guests/typescript/src/index.ts
  guests/typescript/wit/deps/trailbase-database/world.wit
  guests/typescript/wit/init.wit
  guests/typescript/wit/sqlite.wit
  guests/typescript/wit/world.wit
Due: none

Add a RAII cleanup test.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/wasm-runtime-host/src/host.rs
Due: cargofmt, cargoclippy, cargotest

Model transaction resources as a backward-compatible minor WIT update.
  client/testfixture/wasm/auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-guest/wit/trailbase/component/sqlite.wit
  crates/wasm-runtime-guest/wit/trailbase/component/world.wit
  crates/wasm-runtime-guest/wit/trailbase/database/world.wit
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/generated/types/interfaces.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-init-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-sqlite-function-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-database-sqlite.d.ts
  guests/typescript/src/db/index.ts
  guests/typescript/src/db/value.ts
  guests/typescript/src/http/request.ts
  guests/typescript/src/index.ts
  guests/typescript/wit/deps/trailbase-database/world.wit
  guests/typescript/wit/init.wit
  guests/typescript/wit/sqlite.wit
  guests/typescript/wit/world.wit
Due: cargofmt, cargoclippy, cargotest

Share WASI transaction implementations.
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add a watcher task to force-unlock pending transactions from WASM after 60s.
  crates/wasm-runtime-host/src/host.rs
Due: cargofmt, cargoclippy, cargotest

Remove dedicated begin method from Transaction WASI resource and instead rely on async constructor.
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/wit/trailbase/database/world.wit
  crates/wasm-runtime-host/src/host.rs
  guests/typescript/generated/types/interfaces/trailbase-database-sqlite.d.ts
  guests/typescript/src/db/index.ts
  guests/typescript/wit/deps/trailbase-database/world.wit
Due: cargofmt, cargoclippy, cargotest

Model DB transactions from WASM as a WASI resource and use a watchdog task to force unlock the DB after 60s.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-guest/wit/trailbase/component/sqlite.wit
  crates/wasm-runtime-guest/wit/trailbase/component/world.wit
  crates/wasm-runtime-guest/wit/trailbase/database/world.wit
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/generated/types/interfaces.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-init-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-sqlite-function-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-database-sqlite.d.ts
  guests/typescript/src/db/index.ts
  guests/typescript/src/db/value.ts
  guests/typescript/src/http/request.ts
  guests/typescript/src/index.ts
  guests/typescript/wit/deps/trailbase-database/world.wit
  guests/typescript/wit/init.wit
  guests/typescript/wit/sqlite.wit
  guests/typescript/wit/world.wit
Due: cargofmt, cargoclippy, cargotest

Make server limits configurable.
  client/testfixture/config.textproto
  crates/core/proto/config.proto
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Remove more immediate uses of `rusqlite::Connection`.
  crates/core/src/lib.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/transaction.rs
  crates/sqlite/src/sqlite/connection.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/schema/src/sqlite.rs
  crates/wasm-runtime-guest/Cargo.toml
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.26.4.
  CHANGELOG.md
Due: none

Add a basic PoC transaction async callback API.
  crates/core/src/transaction.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/sqlite/mod.rs
  crates/sqlite/src/sqlite/transaction.rs
Due: cargofmt, cargoclippy, cargotest

PoC: use new transaction APIs.
  crates/core/src/auth/cli.rs
  crates/sqlite/src/sqlite/connection.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Adopt new transaction API in more places.
  crates/core/src/admin/error.rs
  crates/core/src/admin/table/alter_index.rs
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/admin/table/create_index.rs
  crates/core/src/admin/table/create_table.rs
  crates/core/src/admin/table/drop_index.rs
  crates/core/src/admin/table/drop_table.rs
  crates/core/src/lib.rs
  crates/core/src/transaction_recorder.rs
  crates/sqlite/src/from_sql.rs
  crates/sqlite/src/sqlite/transaction.rs
  crates/sqlite/src/value.rs
Due: cargofmt, cargoclippy, cargotest

Use new transaction abstractions for TransactionRecorder.
  crates/core/src/admin/table/alter_index.rs
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/admin/table/create_index.rs
  crates/core/src/admin/table/create_table.rs
  crates/core/src/admin/table/drop_index.rs
  crates/core/src/admin/table/drop_table.rs
  crates/core/src/transaction_recorder.rs
  crates/sqlite/src/sqlite/transaction.rs
Due: cargofmt, cargoclippy, cargotest

Add an untested refinery migration driver for `trailbase_sqlite::Connection` and extend transaction API for that.
  Cargo.lock
  crates/core/src/admin/error.rs
  crates/refinery/Cargo.toml
  crates/refinery/src/drivers/mod.rs
  crates/refinery/src/drivers/trailbase.rs
  crates/sqlite/src/error.rs
  crates/sqlite/src/rows.rs
  crates/sqlite/src/sqlite/transaction.rs
  crates/sqlite/src/tests.rs
Due: cargofmt, cargoclippy, cargotest

PoC: Adopt new async migration runner in one place.
  crates/core/src/migrations.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

WIP: use trailbase_sqlite transactions in more places.
  crates/core/src/connection.rs
  crates/core/src/records/record_api.rs
  crates/core/src/transaction_recorder.rs
  crates/refinery/src/drivers/trailbase.rs
  crates/sqlite/src/sqlite/transaction.rs
Due: cargofmt, cargoclippy, cargotest

Tidy up refinery implementation.
  crates/core/src/records/write_queries.rs
  crates/refinery/src/drivers/trailbase.rs
  crates/sqlite/src/sqlite/transaction.rs
Due: cargofmt, cargoclippy, cargotest
