Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Set `Resizable` to a fixed size. Flex computation ends up too large, yet unclear why.
  crates/assets/js/admin/src/components/Header.tsx
  crates/assets/js/admin/src/components/editor/EditorPage.tsx
  crates/assets/js/admin/src/components/tables/TablePane.tsx
Due: none

Minor: make header in OpenApi admin UI page non-sticky.
  crates/assets/js/admin/src/components/openapi/OpenApiPage.tsx
Due: none

Disable job changes for custom jobs.
  crates/assets/js/admin/src/components/settings/JobSettings.tsx
Due: none

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
Due: none

Prepare new release v0.33.13.
  CHANGELOG.md
Due: none

Better match theming in rapidoc.
  crates/assets/js/admin/src/components/openapi/OpenApiPage.tsx
Due: none

Resize ERD graph on window resize.
  crates/assets/js/admin/src/components/erd/ErdGraph.tsx
  crates/assets/js/admin/src/components/erd/ErdPage.tsx
  crates/assets/js/admin/src/components/openapi/OpenApiPage.tsx
  crates/assets/js/admin/src/lib/signals.ts
Due: none

Admin UI internal: split cell rendering from explorer page.
  crates/assets/js/admin/src/App.tsx
  crates/assets/js/admin/src/components/accounts/AccountsPage.tsx
  crates/assets/js/admin/src/components/editor/EditorPage.tsx
  crates/assets/js/admin/src/components/explorer/CreateAlterColumnForm.tsx
  crates/assets/js/admin/src/components/explorer/CreateAlterIndex.tsx
  crates/assets/js/admin/src/components/explorer/CreateAlterTable.tsx
  crates/assets/js/admin/src/components/explorer/InsertUpdateRow.tsx
  crates/assets/js/admin/src/components/explorer/RecordApiSettings.tsx
  crates/assets/js/admin/src/components/explorer/SchemaDownload.tsx
  crates/assets/js/admin/src/components/explorer/SchemaIcon.tsx
  crates/assets/js/admin/src/components/explorer/TablePane.tsx
  crates/assets/js/admin/src/components/explorer/TablesPage.tsx
  crates/assets/js/admin/src/components/logs/LogsPage.tsx
  crates/assets/js/admin/src/components/settings/DatabaseSettings.tsx
  crates/assets/js/admin/src/components/table/BlobEncoding.tsx
  crates/assets/js/admin/src/components/table/Files.tsx
  crates/assets/js/admin/src/components/table/SqlCell.tsx
  crates/assets/js/admin/src/components/table/Table.tsx
  crates/assets/js/admin/src/components/table/Uuid.tsx
Due: none

Admin UI: allow picking the Blob encoding in the SQL editor.
  crates/assets/js/admin/src/components/editor/EditorPage.tsx
  crates/assets/js/admin/src/components/explorer/TablePane.tsx
  crates/assets/js/admin/src/components/table/BlobEncoding.tsx
  crates/assets/js/admin/src/components/table/SqlCell.tsx
  crates/assets/js/admin/src/components/table/Uuid.tsx
Due: none

Prepare new release v0.33.14.
  CHANGELOG.md
Due: none

Fix creating records using default values with Kotlin client
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
Due: kotlin_test

Add `execute_batch` support to WASM guests.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-host/src/sqlite.rs
  guests/typescript/generated/common/SqliteResponse.ts
Due: cargofmt, cargoclippy, cargotest

Admin UI: make foreign keys in followable in table explorer, i.e. link to reffered table and record.
  crates/assets/js/admin/src/components/explorer/TablePane.tsx
  crates/assets/js/admin/src/components/table/SqlCell.tsx
Due: none

Constrain the names/path of attachable DBs by WASM componenents and add tests.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Add a `trail user export` CLI command.
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/user.rs
  crates/core/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add support for transactions/batch-operations to Python client.
  client/dart/test/trailbase_test.dart
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
Due: python_format, python_check, python_test

Prepare new client releases for Kotlin and Python.
  client/kotlin/lib/build.gradle.kts
  client/python/pyproject.toml
Due: kotlin_test

Prepare new release v0.33.15.
  CHANGELOG.md
Due: none

feat(apple): native Sign in with Apple login endpoint
  crates/assets/js/admin/proto/config.ts
  crates/core/proto/config.proto
  crates/core/src/auth/oauth/apple_native.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/mod.rs
  crates/core/src/auth/oauth/provider.rs
  crates/core/src/auth/oauth/providers/apple.rs
  crates/core/src/auth/oauth/providers/mod.rs
  crates/core/src/auth/oauth/users.rs
Due: cargofmt, cargoclippy, cargotest

Split apple_native from `oauth::Provider` and path. NOTE: the HTTP path is still shared, should probably find a better home.
  crates/assets/js/admin/proto/config.ts
  crates/core/proto/config.proto
  crates/core/src/auth/api/apple_native.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/mod.rs
  crates/core/src/auth/oauth/provider.rs
  crates/core/src/auth/oauth/providers/apple.rs
Due: cargofmt, cargoclippy, cargotest

Move more code around and remove hard-coded keys.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/auth/api/apple_native.rs
  crates/core/src/auth/apple.rs
  crates/core/src/auth/create_external_user.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/mod.rs
  crates/core/src/auth/oauth/providers/apple.rs
Due: cargofmt, cargoclippy, cargotest

Clean up decoding code.
  crates/core/src/auth/apple.rs
  crates/core/src/auth/oauth/providers/mod.rs
Due: cargofmt, cargoclippy, cargotest

Compare nonce bytes rather than case-sensitive hex representations.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/auth/api/apple_native.rs
Due: cargofmt, cargoclippy, cargotest

Use common LoginResponse and move HTTP endpoint.
  crates/core/src/auth/api/apple_native.rs
Due: cargofmt, cargoclippy, cargotest

Cache Apple key fetches.
  crates/core/src/auth/apple.rs
Due: cargofmt, cargoclippy, cargotest

Undo kotlin client default value serialization changes #287.
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Minor: bump default rust toolchain version in Dockerfile (CI uses Dockerfile.ci w/o default).
  Dockerfile
Due: none

Preserve page size when sorting/filtering resets the table explorer's pagination
  crates/assets/js/admin/src/components/explorer/TablePane.tsx
Due: none

Further tune kotlin JSON serialization and update docs link: #287.
  README.md
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  docs/src/content/docs/index.mdx
Due: kotlin_test

docs: Clarify how to upload files with JSON requests
  docs/src/content/docs/documentation/apis_record.mdx
Due: none

Split apple_native from `oauth::Provider` and path. The HTTP endpoint is still under /oauth, will be moved going forward.
  Cargo.lock
  crates/assets/js/admin/proto/config.ts
  crates/core/Cargo.toml
  crates/core/proto/config.proto
  crates/core/src/auth/api/apple_native.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/apple.rs
  crates/core/src/auth/create_external_user.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/mod.rs
  crates/core/src/auth/oauth/provider.rs
  crates/core/src/auth/oauth/providers/apple.rs
Due: cargofmt, cargoclippy, cargotest

Fix UserIdentifier fallback: Undefined == OnlyEmail both for email and username validation. Also further clean-up and clarification of apple native-signin imeplementation.
  crates/assets/js/admin/proto/config.ts
  crates/core/proto/config.proto
  crates/core/src/auth/api/apple_native_signin.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/apple.rs
  crates/core/src/auth/create_external_user.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/providers/apple.rs
Due: cargofmt, cargoclippy, cargotest
