Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Allow passing WKT-formatted geometries via the admin UI row insert/update form.
  crates/assets/js/admin/package.json
  crates/assets/js/admin/src/components/tables/InsertUpdateRow.tsx
  crates/assets/js/admin/src/components/tables/TablePane.tsx
  crates/assets/js/admin/src/lib/wkb.ts
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/connection.rs
  crates/core/src/records/read_record.rs
  pnpm-lock.yaml
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.26.6.
  CHANGELOG.md
Due: none

Make DB lock acquisition fallible.
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/state.rs
  crates/sqlite/src/connection.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/sqlite/executor.rs
  crates/sqlite/src/sqlite/lock.rs
  crates/sqlite/src/sqlite/mod.rs
  crates/sqlite/src/tests.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

WIP.
  Cargo.lock
  Cargo.toml
  crates/sqlite/Cargo.toml
  crates/sqlite/src/error.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/pg/executor.rs
  crates/sqlite/src/pg/mod.rs
  crates/sqlite/src/sqlite/executor.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/sqlite/src/experimental/mod.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/pg/executor.rs
Due: cargofmt, cargoclippy, cargotest

WIP: fix `map()`.
  crates/sqlite/src/pg/executor.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/tests.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

WIP: start generic connection. PG mostly placeholders.
  crates/sqlite/src/error.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/pg/mod.rs
  crates/sqlite/src/pg/sync.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/sqlite/mod.rs
  crates/sqlite/src/sqlite/transaction.rs
  crates/sqlite/src/sqlite/util.rs
Due: cargofmt, cargoclippy, cargotest

Admin UI: Only show SRID in EWKT when present and fix "current value" for geoemtry columns in edit-row-flow.
  crates/assets/js/admin/src/components/tables/InsertUpdateRow.tsx
  crates/assets/js/admin/src/components/tables/TablePane.tsx
  crates/assets/js/admin/src/lib/geometry.ts
Due: none

Publish Kotlin v0.5.3 after publishing JVM-only artifacts before.
  client/kotlin/Makefile
  client/kotlin/lib/build.gradle.kts
Due: kotlin_test

Add a `skip_cursor` RecordApi list query parameter to help GeoJSON parsers that don't support `foreign_members`.
  crates/core/src/records/list_records.rs
Due: cargofmt, cargoclippy, cargotest

WIP: more impls.
  crates/core/src/auth/cli.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/write_queries.rs
  crates/core/src/transaction_recorder.rs
  crates/refinery/src/drivers/trailbase.rs
  crates/sqlite/src/connection.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/pg/executor.rs
  crates/sqlite/src/pg/mod.rs
  crates/sqlite/src/pg/sync.rs
  crates/sqlite/src/pg/util.rs
  crates/sqlite/src/pg/value.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/sqlite/sync.rs
  crates/sqlite/src/sqlite/transaction.rs
  crates/sqlite/src/traits.rs
Due: cargofmt, cargoclippy, cargotest

Fix #226: missing version identifier in release builds due to shallow checkouts && git+docker permission issues.
  .dockerignore
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile.ci
  crates/build/src/version.rs
Due: cargofmt, cargoclippy, cargotest

WIP: more impl.
  Cargo.lock
  crates/sqlite/Cargo.toml
  crates/sqlite/src/generic.rs
  crates/sqlite/src/pg/util.rs
Due: cargofmt, cargoclippy, cargotest

WIP: more impls. experiment with postgres serde impls.
  Cargo.lock
  crates/sqlite/Cargo.toml
  crates/sqlite/src/generic.rs
  crates/sqlite/src/pg/executor.rs
  crates/sqlite/src/pg/sync.rs
  crates/sqlite/src/pg/util.rs
Due: cargofmt, cargoclippy, cargotest

Change mutability and expand pg impl.
  crates/core/src/auth/cli.rs
  crates/core/src/connection.rs
  crates/core/src/logging.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/write_queries.rs
  crates/core/src/schema_metadata.rs
  crates/core/src/transaction_recorder.rs
  crates/refinery/src/drivers/trailbase.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/pg/sync.rs
  crates/sqlite/src/pg/util.rs
  crates/sqlite/src/pg/value.rs
  crates/sqlite/src/sqlite/mod.rs
  crates/sqlite/src/sqlite/sync.rs
  crates/sqlite/src/sqlite/transaction.rs
  crates/sqlite/src/sqlite/util.rs
  crates/sqlite/src/tests.rs
  crates/sqlite/src/traits.rs
Due: cargofmt, cargoclippy, cargotest

Add a generic connection test.
  crates/sqlite/src/generic.rs
Due: cargofmt, cargoclippy, cargotest

Impl `_row_get` flavors and share columns.
  crates/sqlite/src/generic.rs
  crates/sqlite/src/pg/util.rs
  crates/sqlite/src/rows.rs
Due: cargofmt, cargoclippy, cargotest

Support named params and alternate placeholder syntax `?\d`.
  Cargo.lock
  crates/sqlite/Cargo.toml
  crates/sqlite/src/generic.rs
  crates/sqlite/src/pg/executor.rs
  crates/sqlite/src/pg/sync.rs
  crates/sqlite/src/pg/util.rs
Due: cargofmt, cargoclippy, cargotest

Add a `generic` cargo feature flag for generic SQL connection.
  crates/sqlite/Cargo.toml
  crates/sqlite/src/connection.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/sqlite/batch.rs
  crates/sqlite/src/tests.rs
Due: cargofmt, cargoclippy, cargotest

WIP: streamline generic connection.
  Cargo.toml
  crates/sqlite/Cargo.toml
  crates/sqlite/src/generic.rs
Due: cargofmt, cargoclippy, cargotest

Add `backup()` to generic connection and make it compile and pass all TB tests (while using SQLite).
  Cargo.toml
  crates/core/src/admin/logs/stats.rs
  crates/core/src/admin/query.rs
  crates/core/src/admin/table/mod.rs
  crates/core/src/auth/error.rs
  crates/core/src/connection.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/sqlite/batch.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/sqlite/mod.rs
  crates/sqlite/src/sqlite/util.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/cli/Cargo.toml
Due: none

WIP: Trying to build record apis asynchronously :/
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/app_state.rs
  crates/core/src/records/subscribe/tests.rs
  crates/core/src/server/init.rs
  crates/reactive/Cargo.toml
  crates/reactive/src/lib.rs
  crates/reactive/src/reactive.rs
  crates/sqlite/Cargo.toml
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-host/Cargo.toml
Due: cargofmt, cargoclippy, cargotest

Add an async snapshot reactive and use it for RecordApi construction.
  Cargo.lock
  Cargo.toml
  crates/core/src/app_state.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/tests.rs
  crates/reactive/src/async_reactive.rs
  crates/reactive/src/lib.rs
  crates/reactive/src/reactive.rs
Due: cargofmt, cargoclippy, cargotest

Make connection construction async.
  crates/core/src/app_state.rs
Due: cargofmt, cargoclippy, cargotest

`ConnectionManager` to hand out connections asynchronously.
  crates/core/src/admin/query.rs
  crates/core/src/admin/rows/delete_rows.rs
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/admin/rows/list_rows.rs
  crates/core/src/admin/rows/read_files.rs
  crates/core/src/admin/rows/update_row.rs
  crates/core/src/admin/table/list_tables.rs
  crates/core/src/app_state.rs
  crates/core/src/config.rs
  crates/core/src/connection.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/validate.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Apply migrations asynchronously everywhere and loosen `Sync` requirements on `AsyncReactive`.
  Cargo.lock
  crates/core/src/connection.rs
  crates/core/src/migrations.rs
  crates/core/src/server/mod.rs
  crates/reactive/src/async_reactive.rs
  crates/reactive/src/reactive.rs
  crates/refinery/Cargo.toml
  crates/refinery/src/drivers/trailbase.rs
Due: cargofmt, cargoclippy, cargotest

Internal: use options structs for DB initialization.
  crates/core/src/connection.rs
  crates/core/src/server/init.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Prepare new release v0.26.9.
  CHANGELOG.md
Due: none

Disable pnpm build approvals on Mac and Windows to unblock release.
  .github/workflows/release.yml
Due: none

Temporarily disable `query_only` SQLite pragma on readers due to it not playing nicely with Sqlean.
  crates/core/src/admin/query.rs
  crates/core/src/admin/table/list_tables.rs
  crates/sqlite/src/sqlite/executor.rs
Due: cargofmt, cargoclippy, cargotest

Remove Sqlean.
  .gitmodules
  Cargo.lock
  Cargo.toml
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/migrations/main/U1728458183__create_virtual_table.sql
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/cli/Cargo.toml
  crates/cli/src/bin/trail.rs
  crates/sqlean/Cargo.toml
  crates/sqlean/LICENSE
  crates/sqlean/README.md
  crates/sqlean/bindings.h
  crates/sqlean/build.rs
  crates/sqlean/src/lib.rs
  crates/sqlite/src/sqlite/executor.rs
  crates/wasm-runtime-host/src/sqlite.rs
  docs/src/content/docs/documentation/apis_overview.mdx
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
