Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Rename auth db to session db.
  crates/core/src/app_state.rs
  crates/core/src/config.rs
  crates/core/src/connection.rs
  crates/core/src/data_dir.rs
  crates/core/src/migrations.rs
  crates/core/src/server/init.rs
Due: cargofmt, cargoclippy, cargotest

Remove totp login handler.
  crates/core/src/auth/api/totp.rs
  crates/core/src/auth/mod.rs
Due: cargofmt, cargoclippy, cargotest

Add a totp_redirect_uri parameter to logins.
  crates/assets/js/bindings/LoginRequest.ts
  crates/assets/js/bindings/ResponseType.ts
  crates/auth-ui/src/lib.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/login_params.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/login.rs
  crates/core/src/auth/oauth/oauth_test.rs
Due: cargofmt, cargoclippy, cargotest

Use totp-rs library.
  Cargo.lock
  crates/assets/js/bindings/ConfirmTOTPRequest.ts
  crates/assets/js/bindings/GenerateTOTPResponse.ts
  crates/core/Cargo.toml
  crates/core/src/auth/api/totp.rs
Due: cargofmt, cargoclippy, cargotest

Shared TOTP enrollment UI.
  crates/assets/js/admin/package.json
  crates/assets/js/admin/src/components/auth/AuthButton.tsx
  crates/assets/js/admin/src/components/auth/Profile.tsx
  crates/assets/js/admin/src/components/auth/Totp.tsx
  crates/assets/js/client/src/index.ts
  crates/auth-ui/ui/src/components/Profile.tsx
  crates/auth-ui/ui/src/components/Totp.tsx
  crates/auth-ui/ui/src/pages/login_mfa.astro
  pnpm-lock.yaml
Due: none

Remove hard-coded auth UI urls from auth APIs and consistently rely on redirect_uri.
  crates/assets/js/bindings/ChangeEmailRequest.ts
  crates/assets/js/bindings/ChangePasswordRequest.ts
  crates/assets/js/client/tests/integration/auth_integration.test.ts
  crates/auth-ui/src/lib.rs
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/change_password.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/logout.rs
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/api/reset_password.rs
  crates/core/src/auth/api/verify_email.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/login_params.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/login.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/auth/oauth/state.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/util.rs
Due: cargofmt, cargoclippy, cargotest

Fix migration & lints. Remove artifacts.
  crates/assets/js/admin/package.json
  crates/core/migrations/main/U3__user_id.sql
  crates/core/migrations/main/U4__totp.sql
  crates/core/migrations/main/V1__initial.sql
  crates/core/src/auth/api/otp.rs
  crates/core/src/migrations.rs
  crates/refinery/src/traits/sync.rs
  pnpm-lock.yaml
Due: cargofmt, cargoclippy, cargotest

Add OTP login UI.
  client/testfixture/config.textproto
  client/testfixture/wasm/auth_ui_component.wasm
  crates/auth-ui/src/auth.rs
  crates/auth-ui/src/lib.rs
  crates/auth-ui/ui/src/pages/login.astro
  crates/auth-ui/ui/src/pages/otp/login.astro
  crates/auth-ui/ui/src/pages/otp/request.astro
  crates/core/src/app_state.rs
  crates/core/src/auth/api/otp.rs
Due: cargofmt, cargoclippy, cargotest

Add a super basic register UI.
  crates/assets/js/admin/src/components/auth/AuthButton.tsx
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/bindings/ConfirmRegisterTotpRequest.ts
  crates/assets/js/bindings/RegisterTotpResponse.ts
  crates/assets/js/client/src/index.ts
  crates/auth-ui/ui/src/components/Profile.tsx
  crates/core/src/auth/api/totp.rs
  crates/core/src/auth/mod.rs
Due: cargofmt, cargoclippy, cargotest

Remove OTP.
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/user.rs
Due: cargofmt, cargoclippy, cargotest

Allow TOTP login from the admin ui.
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/bindings/MfaTokenResponse.ts
  crates/assets/js/client/src/index.ts
  crates/core/src/auth/api/login.rs
Due: cargofmt, cargoclippy, cargotest

Move session data into a separate DB.
  crates/cli/src/bin/trail.rs
  crates/core/migrations/session/V1__initial.sql
  crates/core/src/app_state.rs
  crates/core/src/auth/api/delete.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/logout.rs
  crates/core/src/auth/api/token.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/cli.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/util.rs
  crates/core/src/connection.rs
  crates/core/src/lib.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Add untested OTP-based login.
  crates/assets/js/bindings/LoginOtpRequest.ts
  crates/assets/js/bindings/RequestOtpRequest.ts
  crates/assets/js/bindings/VerifyOTPRequest.ts
  crates/assets/templates/default_email_otp_body.html
  crates/assets/templates/default_email_otp_subject.txt
  crates/core/migrations/session/V1__initial.sql
  crates/core/proto/config.proto
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/api/reset_password.rs
  crates/core/src/auth/api/token.rs
  crates/core/src/auth/error.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/constants.rs
  crates/core/src/email.rs
  crates/core/src/scheduler.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Use JWTs for change email and email verification.
  crates/assets/js/bindings/UserJson.ts
  crates/core/src/admin/user/create_user.rs
  crates/core/src/admin/user/list_users.rs
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/api/verify_email.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/user.rs
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Add a separate MFA login.
  crates/assets/js/bindings/LoginMfaRequest.ts
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/mod.rs
Due: cargofmt, cargoclippy, cargotest

Add a separate auth DB. Unclear yet if we're going to use it.
  crates/core/src/app_state.rs
  crates/core/src/config.rs
  crates/core/src/connection.rs
  crates/core/src/data_dir.rs
  crates/core/src/migrations.rs
  crates/core/src/server/init.rs
Due: cargofmt, cargoclippy, cargotest

Remove now unused columns.
  crates/core/migrations/main/U4__totp.sql
Due: none

Add MFA hint to auth token.
  crates/assets/js/client/src/index.ts
  crates/auth-ui/ui/src/components/Profile.tsx
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/user.rs
Due: cargofmt, cargoclippy, cargotest

Use a callback model for MFA client APIs.
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/client/src/index.ts
Due: none

Split OTP and TOTP. Disable OTP for now.
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/api/totp.rs
  crates/core/src/auth/mod.rs
Due: cargofmt, cargoclippy, cargotest

Add OTP login to client.
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/client/src/index.ts
Due: none

Wire totp through to more places.
  crates/assets/js/bindings/LoginRequest.ts
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/change_password.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/totp.rs
  crates/core/src/auth/util.rs
  crates/core/src/lib.rs
  crates/core/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

WIP: brush up auth UI.
  crates/auth-ui/ui/src/components/Profile.tsx
  crates/auth-ui/ui/src/components/Totp.tsx
  crates/auth-ui/ui/src/components/ui/dropdown-menu.tsx
Due: none

Remove schema invariants check for session like data in preparation of auth restructuring.
  crates/core/src/migrations.rs
Due: cargofmt, cargoclippy, cargotest

Renaming and accept form inputs.
  crates/assets/js/bindings/DisableTotpRequest.ts
  crates/assets/js/bindings/LoginTotpRequest.ts
  crates/assets/js/bindings/RegisterTotpResponse.ts
  crates/assets/js/bindings/VerifyRegisterTotpRequest.ts
  crates/assets/js/bindings/VerifyTOTPRequest.ts
  crates/core/src/auth/api/totp.rs
  crates/core/src/auth/api/verify_email.rs
  crates/core/src/auth/mod.rs
Due: cargofmt, cargoclippy, cargotest

Finally make migrations work.
  crates/core/migrations/main/U4__totp.sql
  crates/core/src/migrations.rs
Due: cargofmt, cargoclippy, cargotest

Use JWTs for password resets rather than DB codes.
  crates/assets/templates/default_email_reset_password_body.html
  crates/auth-ui/src/lib.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/reset_password.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/user.rs
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Add tests for OTP auth flow.
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/auth_test.rs
Due: cargofmt, cargoclippy, cargotest

Minor: rename TokenClaims to AuthTokenClaims.
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/user.rs
  crates/core/src/lib.rs
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Move authorization_codes into session DB.
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/token.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/user.rs
  crates/core/src/constants.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Add a pending auth token for mfa.
  crates/assets/js/bindings/LoginRequest.ts
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/login_params.rs
  crates/core/src/auth/oauth/login.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/auth/util.rs
  crates/core/src/constants.rs
Due: cargofmt, cargoclippy, cargotest

Add OTP support.
  Cargo.lock
  crates/assets/js/admin/package.json
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/admin/src/components/auth/AuthButton.tsx
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
  crates/assets/js/bindings/ConfirmTOTPRequest.ts
  crates/assets/js/bindings/DisableTOTPRequest.ts
  crates/assets/js/bindings/GenerateTOTPResponse.ts
  crates/assets/js/bindings/RequestOTPRequest.ts
  crates/assets/js/bindings/TOTPRequiredResponse.ts
  crates/assets/js/bindings/VerifyOTPRequest.ts
  crates/assets/js/bindings/VerifyTOTPRequest.ts
  crates/assets/js/client/src/index.ts
  crates/assets/src/email.rs
  crates/assets/templates/default_email_otp_body.html
  crates/assets/templates/default_email_otp_subject.txt
  crates/core/Cargo.toml
  crates/core/migrations/main/V1__initial.sql
  crates/core/migrations/main/V3__user_id.sql
  crates/core/proto/config.proto
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/user.rs
  crates/core/src/config.rs
  crates/core/src/constants.rs
  crates/core/src/email.rs
  pnpm-lock.yaml
Due: cargofmt, cargoclippy, cargotest

Add login_mfa page.
  client/testfixture/wasm/auth_ui_component.wasm
  crates/assets/js/client/src/index.ts
  crates/auth-ui/src/auth.rs
  crates/auth-ui/src/lib.rs
  crates/auth-ui/ui/src/components/Profile.tsx
  crates/auth-ui/ui/src/pages/login_mfa.astro
Due: cargofmt, cargoclippy, cargotest

Add a simple OTP login UI to admin UI.
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/templates/default_email_otp_body.html
  crates/core/src/auth/api/otp.rs
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Add ?redirect_uri to OTP requests.
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/client/src/index.ts
Due: none

Various fixes and improvements.
  client/testfixture/config.textproto
  client/testfixture/migrations/main/U1725019361__add_users.sql
  client/testfixture/wasm/auth_ui_component.wasm
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/admin/src/lib/client.ts
  crates/assets/js/client/src/index.ts
  crates/auth-ui/src/auth.rs
  crates/auth-ui/src/lib.rs
  crates/auth-ui/ui/src/pages/otp/login.astro
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Fix HTTP method-based routing for JS/TS WASM components with ambgious paths.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/guests/typescript/src/index.ts
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  guests/typescript/package.json
  guests/typescript/src/http/incoming.ts
Due: cargofmt, cargoclippy, cargotest

Turn kotlin client into a multi-platform build.
  client/kotlin/Makefile
  client/kotlin/build.gradle.kts
  client/kotlin/buildSrc/build.gradle.kts
  client/kotlin/buildSrc/settings.gradle.kts
  client/kotlin/buildSrc/src/main/kotlin/buildlogic.kotlin-common-conventions.gradle.kts
  client/kotlin/examples/record_api/build.gradle.kts
  client/kotlin/examples/record_api/src/main/kotlin/SimpleStrict.kt
  client/kotlin/examples/record_api/src/test/kotlin/AppTest.kt
  client/kotlin/gradle/libs.versions.toml
  client/kotlin/gradle/wrapper/gradle-wrapper.properties
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  client/kotlin/settings.gradle.kts
Due: kotlin_test

Add initial support for RecordApi subscriptions to Kotlin client and update dependencies.
  client/kotlin/gradle/libs.versions.toml
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Prepare publishing the new kotlin multiplatform client v0.3.0.
  client/kotlin/Makefile
  client/kotlin/lib/build.gradle.kts
Due: kotlin_test
