Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Follow up to "robust SSE chunk parsing for multi-event TCP packets".
  client/dart/lib/src/sse.dart
  client/dart/test/sse_chunking_test.dart
Due: none

Prepare new dart client release v0.13.2.
  client/dart/CHANGELOG.md
  client/dart/pubspec.yaml
Due: none

signUp
  crates/assets/js/bindings/RegisterUserRequest.ts
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/unit.test.ts
  crates/core/src/auth/api/register.rs
  docs/src/content/docs/documentation/auth.mdx
Due: cargofmt, cargoclippy, cargotest

fix and test promote anonymous
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

fix promote anonymous crashing
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/tokens.rs
Due: cargofmt, cargoclippy, cargotest

Improve the test
  crates/core/src/auth/auth_test.rs
Due: cargofmt, cargoclippy, cargotest

all clients
  client/dart/lib/src/client.dart
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/unit.test.ts
  crates/client/src/client.rs
  crates/client/tests/client_integration_test.rs
  docs/src/content/docs/documentation/auth.mdx
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Rename
  client/dart/lib/src/client.dart
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/unit.test.ts
  crates/client/src/client.rs
  crates/client/tests/client_integration_test.rs
  docs/src/content/docs/documentation/auth.mdx
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Configurable scopes
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/admin/src/components/FormFields.tsx
  crates/assets/js/admin/src/components/settings/AuthSettings.tsx
  crates/core/proto/config.proto
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/auth/oauth/provider.rs
  crates/core/src/auth/oauth/providers/apple.rs
  crates/core/src/auth/oauth/providers/discord.rs
  crates/core/src/auth/oauth/providers/facebook.rs
  crates/core/src/auth/oauth/providers/github.rs
  crates/core/src/auth/oauth/providers/gitlab.rs
  crates/core/src/auth/oauth/providers/google.rs
  crates/core/src/auth/oauth/providers/microsoft.rs
  crates/core/src/auth/oauth/providers/oidc.rs
  crates/core/src/auth/oauth/providers/test.rs
  crates/core/src/auth/oauth/providers/twitch.rs
  crates/core/src/auth/oauth/providers/yandex.rs
  crates/core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

cleanup
  crates/core/src/auth/oauth/provider.rs
  crates/core/src/auth/oauth/providers/discord.rs
  crates/core/src/auth/oauth/providers/facebook.rs
  crates/core/src/auth/oauth/providers/github.rs
  crates/core/src/auth/oauth/providers/gitlab.rs
  crates/core/src/auth/oauth/providers/google.rs
  crates/core/src/auth/oauth/providers/microsoft.rs
  crates/core/src/auth/oauth/providers/mod.rs
  crates/core/src/auth/oauth/providers/social.rs
  crates/core/src/auth/oauth/providers/twitch.rs
  crates/core/src/auth/oauth/providers/yandex.rs
Due: cargofmt, cargoclippy, cargotest

Release new Python client version.
  client/python/pyproject.toml
Due: none

fix: Silent Refresh Auth Bug (#271)
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/tokens.rs
Due: cargofmt, cargoclippy, cargotest

external user cleanup
  crates/core/src/auth/oauth/providers/discord.rs
  crates/core/src/auth/oauth/providers/facebook.rs
  crates/core/src/auth/oauth/providers/github.rs
  crates/core/src/auth/oauth/providers/gitlab.rs
  crates/core/src/auth/oauth/providers/google.rs
  crates/core/src/auth/oauth/providers/microsoft.rs
  crates/core/src/auth/oauth/providers/social.rs
  crates/core/src/auth/oauth/providers/twitch.rs
  crates/core/src/auth/oauth/providers/yandex.rs
Due: cargofmt, cargoclippy, cargotest

Further refactor
  crates/core/src/auth/oauth/mod.rs
  crates/core/src/auth/oauth/providers/apple.rs
  crates/core/src/auth/oauth/providers/client.rs
  crates/core/src/auth/oauth/providers/discord.rs
  crates/core/src/auth/oauth/providers/facebook.rs
  crates/core/src/auth/oauth/providers/github.rs
  crates/core/src/auth/oauth/providers/gitlab.rs
  crates/core/src/auth/oauth/providers/google.rs
  crates/core/src/auth/oauth/providers/interface.rs
  crates/core/src/auth/oauth/providers/microsoft.rs
  crates/core/src/auth/oauth/providers/mod.rs
  crates/core/src/auth/oauth/providers/oidc.rs
  crates/core/src/auth/oauth/providers/social.rs
  crates/core/src/auth/oauth/providers/test.rs
  crates/core/src/auth/oauth/providers/twitch.rs
  crates/core/src/auth/oauth/providers/yandex.rs
Due: cargofmt, cargoclippy, cargotest

Handle "PRAGMA foreign_keys" consistently during migrations for sync and async DB drivers. Also check for FK violations explicitly.
  crates/refinery/src/drivers/rusqlite.rs
  crates/refinery/src/drivers/trailbase.rs
  crates/sqlite/src/type.rs
Due: cargofmt, cargoclippy, cargotest

Keep unverified email addresses out of `email` columns to avoid premature impersonations. #271
  crates/assets/js/admin/src/components/accounts/AccountsPage.tsx
  crates/assets/js/bindings/UpdateUserRequest.ts
  crates/assets/js/bindings/UserJson.ts
  crates/cli/src/bin/trail.rs
  crates/core/migrations/main/U1785764695__unverified_email.sql
  crates/core/migrations/pg_main/U1785764695__unverified_email.sql
  crates/core/src/admin/user/create_user.rs
  crates/core/src/admin/user/list_users.rs
  crates/core/src/admin/user/update_user.rs
  crates/core/src/app_state.rs
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/promote_anonymous.rs
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/api/verify_email.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/password.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/user.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: none

Prepare new release v0.31.2.
  CHANGELOG.md
Due: none

WIP: Cleanup event encoding.
  crates/core/src/records/expand.rs
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

Lazy event serialization.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

Deserialize nested JSON based on column metadata for change events in line with what we do for read/list. #269
  crates/core/src/records/expand.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

Add test for change events with nested JSON.
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Merge redundant (row|record)_to_json(_expand) implementations.
  crates/core/src/records/expand.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/test_utils.rs
  crates/core/src/schema_metadata.rs
Due: cargofmt, cargoclippy, cargotest

Improve lazily built change event's error handling.
  crates/core/src/records/expand.rs
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

Properly expand nested JSON for change events in line with read/list records. #269
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/records/expand.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/tests.rs
  crates/core/src/records/test_utils.rs
  crates/core/src/schema_metadata.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

tryfrom
  crates/core/src/auth/oauth/providers/discord.rs
  crates/core/src/auth/oauth/providers/facebook.rs
  crates/core/src/auth/oauth/providers/github.rs
  crates/core/src/auth/oauth/providers/gitlab.rs
  crates/core/src/auth/oauth/providers/google.rs
  crates/core/src/auth/oauth/providers/microsoft.rs
  crates/core/src/auth/oauth/providers/social.rs
  crates/core/src/auth/oauth/providers/twitch.rs
  crates/core/src/auth/oauth/providers/yandex.rs
Due: cargofmt, cargoclippy, cargotest

Remove `JsonEventPayload` proxy type, reduce Arcs and streamline event construction.
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.31.3.
  CHANGELOG.md
Due: none

Support partial initialization.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-common/src/manifest.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-guest/wit/trailbase/component/world.wit
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/generated/common/InitArguments.ts
  guests/typescript/generated/common/Subsystem.ts
  guests/typescript/src/index.ts
  guests/typescript/wit/init.wit
  guests/typescript/wit/world.wit
Due: cargofmt, cargoclippy, cargotest

Replace triplet of component init functions with a single `get-manifest` and opaque I/O.
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-common/src/manifest.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-guest/wit/trailbase/component/sqlite.wit
  crates/wasm-runtime-guest/wit/trailbase/component/world.wit
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Cleanup and remove redundant http-method and sqlite-function types.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/generated/types/interfaces/trailbase-component-init-endpoint.d.ts
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/http/request.ts
  guests/typescript/src/http/response.ts
  guests/typescript/src/index.ts
  guests/typescript/wit/init.wit
Due: cargofmt, cargoclippy, cargotest

Add manifest init to JS WASM guest.
  crates/assets/js/bindings/HttpMethodType.ts
  crates/assets/js/bindings/HttpRoute.ts
  crates/assets/js/bindings/InitArguments.ts
  crates/assets/js/bindings/InitManifest.ts
  crates/assets/js/bindings/SqliteFunction.ts
  crates/assets/js/bindings/SqliteFunctionFlag.ts
  crates/assets/js/bindings/SqliteScalarFunction.ts
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  guests/typescript/generated/types/interfaces.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-init-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-sqlite-function-endpoint.d.ts
  guests/typescript/src/index.ts
  guests/typescript/tsconfig.json
  guests/typescript/wit/init.wit
  guests/typescript/wit/sqlite.wit
  guests/typescript/wit/world.wit
Due: none

Fix up types.
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/bindings/HttpContext.ts
  crates/assets/js/bindings/HttpContextUser.ts
  crates/assets/js/bindings/HttpMethodType.ts
  crates/assets/js/bindings/Job.ts
  crates/assets/js/bindings/SqliteRequest.ts
  crates/assets/js/bindings/SqliteResponse.ts
  crates/wasm-runtime-common/build.rs
  crates/wasm-runtime-common/src/manifest.rs
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/generated/common/HttpContextUser.ts
  guests/typescript/generated/common/HttpMethodType.ts
  guests/typescript/generated/common/HttpRoute.ts
  guests/typescript/generated/common/InitArguments.ts
  guests/typescript/generated/common/InitManifest.ts
  guests/typescript/generated/common/Job.ts
  guests/typescript/generated/common/SqliteFunction.ts
  guests/typescript/generated/common/SqliteFunctionFlag.ts
  guests/typescript/generated/common/SqliteScalarFunction.ts
Due: cargofmt, cargoclippy, cargotest

Add subsystem types fallback to avoid guest de-serialization issues when extended.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-common/src/manifest.rs
Due: cargofmt, cargoclippy, cargotest

Change WASM shared preferences to store key value json object.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/auth-ui/src/lib.rs
  crates/core/migrations/main/U8__wasm_shared_preferences.sql
  crates/core/migrations/pg_main/U6__wasm_shared_preferences.sql
  crates/core/src/lib.rs
  crates/schema/src/registry.rs
  crates/wasm-runtime-guest/src/prefs.rs
Due: cargofmt, cargoclippy, cargotest

Use iframe.
  crates/assets/js/admin/src/App.tsx
  crates/assets/js/admin/src/components/wasm/TbHtmlFragment.ts
  crates/assets/js/admin/src/components/wasm/WasmModuleSettingsPage.tsx
  crates/assets/js/admin/src/components/wasm/WasmModulesPage.tsx
Due: none

Always size WASM iframe to fill entire panel.
  crates/assets/js/admin/src/components/wasm/WasmComponentDetails.tsx
Due: none

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
