Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Fix RecordAPI schema life-cycle. Previously updating a table schema would not update the RecordApi::schema and thus the API inputs/outputs until restart.
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/app_state.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/record_api.rs
  crates/reactive/src/async_reactive.rs
  crates/schema/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Minor: clean-up naming of test utils.
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/test_utils.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/update_record.rs
  crates/core/src/schema_metadata.rs
  crates/core/src/test_utils.rs
  crates/core/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Implement "is NULL/NOT NULL" list filters across all clients.
  client/dart/lib/src/client.dart
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/RecordApi.cs
  client/dotnet/trailbase/TrailBase.csproj
  client/go/trailbase/record_api.go
  client/go/trailbase/record_api_test.go
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/client/src/record_api.ts
  crates/assets/js/client/tests/unit.test.ts
  crates/client/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Minor: cleanup async reactive implementation.
  crates/core/src/app_state.rs
  crates/core/src/records/expand.rs
  crates/reactive/src/async_reactive.rs
  crates/reactive/src/reactive.rs
Due: cargofmt, cargoclippy, cargotest

Trying to fix Twitch OAuth provider. It requires a non-basic auth type (i.e. add `auth_type()` to trait) and returns non-standard responses (i.e. add `get_token()` to trait). #215
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/mod.rs
  crates/core/src/auth/oauth/provider.rs
  crates/core/src/auth/oauth/providers/twitch.rs
  crates/core/src/auth/oauth/reqwest_client.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/cli/Cargo.toml
  crates/core/src/auth/oauth/providers/twitch.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.28.1.
  CHANGELOG.md
Due: none

Allow file uploads via admin's JSON update record API and add test.
  crates/core/src/admin/rows/read_files.rs
  crates/core/src/admin/rows/update_row.rs
  crates/core/src/records/params.rs
Due: cargofmt, cargoclippy, cargotest

Add PoC file upload button for file columns in admin UI #239.
  crates/assets/js/admin/src/components/tables/Files.tsx
  crates/assets/js/admin/src/components/tables/TablePane.tsx
  crates/assets/js/admin/src/lib/api/row.ts
Due: none

WIP: Add row refresh and delete buttons. Impl isn't working yet.
  crates/assets/js/admin/src/components/tables/Files.tsx
  crates/assets/js/admin/src/components/tables/TablePane.tsx
  crates/core/src/records/params.rs
Due: cargofmt, cargoclippy, cargotest

Minor: make the linter happier.
  crates/core/src/connection.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/params.rs
Due: cargofmt, cargoclippy, cargotest

Fix partial updates/deletes for `std.FileUploads` columns and null values for `std.FileUpload` updates via admin API.
  crates/core/src/admin/rows/update_row.rs
  crates/core/src/extract/multipart.rs
  crates/core/src/records/files.rs
  crates/core/src/records/params.rs
  crates/core/src/records/read_record.rs
  crates/schema/src/file.rs
  crates/schema/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

After explicitly allowing pure metadata file inputs, update file upload admin UI to make use of it.
  crates/assets/js/admin/src/components/tables/Files.tsx
  crates/core/src/records/params.rs
Due: cargofmt, cargoclippy, cargotest

Fix two small issues with the "first UI" coffee-search tutorial.
  docs/src/content/docs/getting-started/first-ui-app.mdx
  examples/coffee-vector-search/guests/typescript/src/index.ts
Due: none

Fix file life-cycle: don't delete preserved files when updating/patching `std.FileUpload[s]` columns.
  crates/core/migrations/base/U6__file_deletions_update.sql
  crates/core/migrations/pg_main/U4__file_deletions_update.sql
  crates/core/src/records/files.rs
  crates/core/src/schema_metadata.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.28.2.
  CHANGELOG.md
Due: none

fix(config): validate smtp_host is a hostname or IP
  crates/core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

Stream encode file inputs in admin UI and issue a warning for large files.
  crates/assets/js/admin/src/components/tables/Files.tsx
  crates/assets/js/admin/src/lib/base64.ts
  crates/assets/js/admin/tests/util.test.ts
Due: none

Validate SMTP host during config validation.
  crates/core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

Minor: move OwnedTx from WASM host crate to the sqlite crate.
  Cargo.lock
  crates/sqlite/Cargo.toml
  crates/sqlite/src/generic.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/sqlite/executor.rs
  crates/sqlite/src/sqlite/lock.rs
  crates/sqlite/src/sqlite/transaction.rs
  crates/wasm-runtime-host/Cargo.toml
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Update JavaScript dependencies.
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/client/package.json
  crates/auth-ui/ui/package.json
  docs/examples/record_api_ts/package.json
  docs/examples/wasm-guest-ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
Due: none

Prepare new release v0.28.3.
  CHANGELOG.md
Due: none

Install a pglite watchdog to hopefully understand why random PG tests sometimes time out during CI.
  crates/core/src/app_state.rs
Due: cargofmt, cargoclippy, cargotest

Hook up realtime subscriptions with graceful server shutdown. I.e. on `SIGTERM` or `Ctrl+C` subscriptions will be actively terminated rather than the server-shutdown timing out eventually.
  crates/core/src/lib.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/server/mod.rs
  examples/custom-binary/src/main.rs
Due: cargofmt, cargoclippy, cargotest

Wasmtime v44 => v45 again after debugging and getting zero-delay timeouts fixed: https://github.com/bytecodealliance/wasmtime/issues/13507.
  Cargo.lock
  Cargo.toml
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/time.rs
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.28.4.
  CHANGELOG.md
Due: none

Replace serde_rusqlite git dep with crates.io
  Cargo.lock
  Cargo.toml
Due: none

Remove vendor/serde_rusqlite submodule
  .gitmodules
Due: none

Fix TOTP enable path SQL syntax error in vendor
  crates/core/src/auth/api/totp.rs
Due: cargofmt, cargoclippy, cargotest

Replace `serde_rusqlite` git dep with upstream crate and use git fallbacks for vendored deps.
  .gitmodules
  Cargo.lock
  Cargo.toml
Due: none

Use run-away thread, tokio-metrics and hard terminte to monitor and interrupt stuck pglite tests.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/app_state.rs
Due: cargofmt, cargoclippy, cargotest

Minor: clean up TS testfixture guest.
  CHANGELOG.md
  client/testfixture/guests/typescript/src/component.js
  client/testfixture/guests/typescript/src/index.ts
  client/testfixture/guests/typescript/vite.config.ts
Due: none

Minor: make clippy happy.
  crates/sqlite/src/sqlite/transaction.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies and replace `rev` with `branch` for git dependencies to avoid update issues.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime-guest/Cargo.toml
Due: none

Prepare new release v0.28.5.
  CHANGELOG.md
Due: none

Fix password-reset email template validation
  crates/core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

Fix deleteUser HTTP method in trailbase SDK
  crates/assets/js/client/src/client.ts
Due: none

Fix /status endpoint not updating auth cookie
  crates/core/src/auth/api/status.rs
Due: cargofmt, cargoclippy, cargotest
