Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Rust client: introduce a trait to allow for custom transport implementations #66.
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Dotnet client: abstract transport, allow injecting custom impl and update dependencies.
  client/dotnet/test/TrailBase.Tests.csproj
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/Makefile
  client/dotnet/trailbase/RecordApi.cs
  client/dotnet/trailbase/TrailBase.csproj
Due: none

Dart client: abstract transport and allow injecting custom implementation.
  client/dart/lib/src/client.dart
  client/dart/lib/src/sse.dart
  client/dart/lib/src/transport.dart
Due: none

Go client: add a transport abstraction & remove client interface indirection.
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/record_api.go
  client/go/trailbase/thin_client.go
  client/go/trailbase/transport.go
Due: go_format, go_test

Kotlin... :sigh:
  client/kotlin/.gitignore
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
Due: kotlin_test

TS client: clean-up new Transport abstraction by merging duplicate header fields.
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/src/transport.ts
Due: none

Add a Transport abstraction to swift client, add a change event representation and failed attempt of adding change subscriptions.
  client/swift/trailbase/Package.resolved
  client/swift/trailbase/Package.swift
  client/swift/trailbase/Sources/TrailBase/Event.swift
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Sources/TrailBase/Transport.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
Due: swift_format, swift_test

Update wasmtime v42 -> v43: pre-condition for eventually supporting WASIp3.
  Cargo.lock
  Cargo.toml
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Trying to revert the revert: JS guest still gets stuck.
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Kotlin client: add a Transport abstraction.
  client/kotlin/.gitignore
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Use jco guest-types for WASM guest type generation.
  guests/typescript/eslint.config.mjs
  guests/typescript/generated/types/interfaces.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-init-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-sqlite-function-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-database-sqlite.d.ts
  guests/typescript/generated/types/interfaces/wasi-clocks-monotonic-clock.d.ts
  guests/typescript/generated/types/interfaces/wasi-clocks-wall-clock.d.ts
  guests/typescript/generated/types/interfaces/wasi-filesystem-preopens.d.ts
  guests/typescript/generated/types/interfaces/wasi-filesystem-types.d.ts
  guests/typescript/generated/types/interfaces/wasi-http-incoming-handler.d.ts
  guests/typescript/generated/types/interfaces/wasi-http-outgoing-handler.d.ts
  guests/typescript/generated/types/interfaces/wasi-http-types.d.ts
  guests/typescript/generated/types/interfaces/wasi-io-error.d.ts
  guests/typescript/generated/types/interfaces/wasi-io-poll.d.ts
  guests/typescript/generated/types/interfaces/wasi-io-streams.d.ts
  guests/typescript/generated/types/interfaces/wasi-keyvalue-atomics.d.ts
  guests/typescript/generated/types/interfaces/wasi-keyvalue-batch.d.ts
  guests/typescript/generated/types/interfaces/wasi-keyvalue-store.d.ts
  guests/typescript/generated/types/interfaces/wasi-random-insecure-seed.d.ts
  guests/typescript/generated/types/interfaces/wasi-random-insecure.d.ts
  guests/typescript/generated/types/interfaces/wasi-random-random.d.ts
  guests/typescript/package.json
  guests/typescript/tsconfig.json
  guests/typescript/vite.config.ts
Due: none

Python client: add customizable transport abstration.
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
Due: none

Update JS dependencies. Upgrade to TS6.
  client/testfixture/guests/typescript/package.json
  client/testfixture/guests/typescript/tsconfig.json
  crates/assets/js/admin/package.json
  crates/assets/js/admin/src/components/settings/SettingsPage.tsx
  crates/assets/js/admin/tsconfig.json
  crates/assets/js/client/package.json
  crates/assets/js/client/tsconfig.json
  crates/auth-ui/ui/package.json
  docs/examples/record_api_ts/package.json
  docs/examples/record_api_ts/tsconfig.json
  docs/examples/wasm-guest-ts/package.json
  docs/examples/wasm-guest-ts/tsconfig.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/guests/typescript/tsconfig.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/guests/typescript/tsconfig.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/data-cli-tutorial/tsconfig.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  examples/wasm-guest-ts/tsconfig.json
  guests/typescript/package.json
  guests/typescript/tsconfig.json
  pnpm-lock.yaml
Due: none

TS client: fix token refreshing loop and cleanup implementation.
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
Due: none

Rust client: Remove `Error::MissingRequestToken` in line with other clients and cleanup naming.
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Kotlin client: fix loop and pre-commit tests.
  .pre-commit-config.yaml
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Python client: fix loop.
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

Dart client: cleanup make refresh token a free function to make the intent clearer.
  client/dart/lib/src/client.dart
  client/dart/test/trailbase_test.dart
Due: none

Prepare new release v0.25.2.
  CHANGELOG.md
Due: none

Blog example: Increase Node version to 22 in Dockerfile
  examples/blog/Dockerfile
Due: none

Prepare and push new client releases.
  Cargo.lock
  Cargo.toml
  client/dart/CHANGELOG.md
  client/dart/lib/src/client.dart
  client/dart/lib/src/transport.dart
  client/dart/pubspec.yaml
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/TrailBase.csproj
  client/kotlin/Makefile
  client/kotlin/lib/build.gradle.kts
  client/python/.gitignore
  client/python/Makefile
  client/python/pyproject.toml
  crates/client/Cargo.toml
Due: kotlin_test

TS client: rename s/Event/ChangeEvent + re-export as `Event` to stop confusing rollup.
  crates/assets/js/client/package.json
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/src/record_api.ts
  examples/blog/web/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  pnpm-lock.yaml
Due: none

WIP: fix rust client.
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

PoC: allow sharing payloads across events.
  Cargo.toml
  crates/core/src/records/event.rs
Due: cargofmt, cargoclippy, cargotest

WIP: reduce copies.
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Add a sequence number to SSE events.
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Change new Event representation to be less dependent on Rust and serde idiomatics.
  crates/core/src/records/event.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

PoC: new DBEvent encoding.
  crates/core/src/records/event.rs
  crates/core/src/records/mod.rs
Due: cargofmt, cargoclippy, cargotest

Fix ws, use new event representation in client and opportunistic cleanups.
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
  crates/core/src/records/event.rs
  crates/core/src/records/subscribe.rs
  docs/examples/record_api_rs/src/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Use new change event representation.
  crates/core/src/records/event.rs
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Dart client: move to new change event representation.
  client/dart/lib/src/sse.dart
  client/dart/lib/src/transport.dart
  client/dart/lib/trailbase.dart
Due: none

TS client: move to new event representation and make API more typed.
  crates/assets/js/client/src/record_api.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
Due: none

Dotnet client: move to new change event representation.
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/RecordApi.cs
Due: none

Go client: move to new change event representation.
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/event.go
Due: go_format, go_test

Kotlin client: move to new change event representation.
  client/kotlin/Makefile
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Python client: parse change events based on new representation.
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test
