Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Update Rust dependencies.
  Cargo.lock
  crates/schema/Cargo.toml
Due: none

Prepare new release v0.30.6.
  CHANGELOG.md
Due: none

TS client: update to new transaction/batch format.
  crates/assets/js/bindings/TransactionRequest.ts
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/src/record_api.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/core/src/records/transaction.rs
Due: cargofmt, cargoclippy, cargotest

Rust client: update to new transaction/batch format.
  crates/client/src/client.rs
  crates/client/src/record_api.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Dart client: update to new batch/transaction format.
  client/dart/lib/src/client.dart
  client/dart/lib/src/operations.dart
  client/dart/lib/src/record_api.dart
  client/dart/test/trailbase_test.dart
Due: none

Kotlin client: update to new batch/transaction format.
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Dotnet client: minor break up files.
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/Event.cs
  client/dotnet/trailbase/FetchException.cs
  client/dotnet/trailbase/RecordApi.cs
  client/dotnet/trailbase/RecordId.cs
Due: none

Dotnet client: add batch/transaction support and fix token refresh.
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/Operation.cs
  client/dotnet/trailbase/RecordApi.cs
  client/dotnet/trailbase/RecordId.cs
Due: none

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: none

Prepare new release v0.31.0.
  CHANGELOG.md
Due: none

Prepare new client releases.
  Cargo.lock
  Cargo.toml
  client/dart/CHANGELOG.md
  client/dart/pubspec.yaml
  client/dotnet/trailbase/TrailBase.csproj
  client/kotlin/lib/build.gradle.kts
  crates/assets/js/client/package.json
  crates/client/Cargo.toml
Due: kotlin_test

Replace triplet of component init functions with a single `get-manifest` and opaque I/O.
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-common/src/manifest.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-guest/wit/trailbase/component/sqlite.wit
  crates/wasm-runtime-guest/wit/trailbase/component/world.wit
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Cleanup and remove redundant http-method and sqlite-function types.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/generated/types/interfaces/trailbase-component-init-endpoint.d.ts
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/http/request.ts
  guests/typescript/src/http/response.ts
  guests/typescript/src/index.ts
  guests/typescript/wit/init.wit
Due: cargofmt, cargoclippy, cargotest

Add manifest init to JS WASM guest.
  crates/assets/js/bindings/HttpMethodType.ts
  crates/assets/js/bindings/HttpRoute.ts
  crates/assets/js/bindings/InitArguments.ts
  crates/assets/js/bindings/InitManifest.ts
  crates/assets/js/bindings/SqliteFunction.ts
  crates/assets/js/bindings/SqliteFunctionFlag.ts
  crates/assets/js/bindings/SqliteScalarFunction.ts
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  guests/typescript/generated/types/interfaces.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-init-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-component-sqlite-function-endpoint.d.ts
  guests/typescript/src/index.ts
  guests/typescript/tsconfig.json
  guests/typescript/wit/init.wit
  guests/typescript/wit/sqlite.wit
  guests/typescript/wit/world.wit
Due: none

Support partial initialization.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-common/src/manifest.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/wit/trailbase/component/init.wit
  crates/wasm-runtime-guest/wit/trailbase/component/world.wit
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/generated/common/InitArguments.ts
  guests/typescript/generated/common/Subsystem.ts
  guests/typescript/src/index.ts
  guests/typescript/wit/init.wit
  guests/typescript/wit/world.wit
Due: cargofmt, cargoclippy, cargotest

Fix up types.
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/bindings/HttpContext.ts
  crates/assets/js/bindings/HttpContextUser.ts
  crates/assets/js/bindings/HttpMethodType.ts
  crates/assets/js/bindings/Job.ts
  crates/assets/js/bindings/SqliteRequest.ts
  crates/assets/js/bindings/SqliteResponse.ts
  crates/wasm-runtime-common/build.rs
  crates/wasm-runtime-common/src/manifest.rs
  crates/wasm-runtime-host/src/functions.rs
  crates/wasm-runtime-host/src/lib.rs
  guests/typescript/generated/common/HttpContextUser.ts
  guests/typescript/generated/common/HttpMethodType.ts
  guests/typescript/generated/common/HttpRoute.ts
  guests/typescript/generated/common/InitArguments.ts
  guests/typescript/generated/common/InitManifest.ts
  guests/typescript/generated/common/Job.ts
  guests/typescript/generated/common/SqliteFunction.ts
  guests/typescript/generated/common/SqliteFunctionFlag.ts
  guests/typescript/generated/common/SqliteScalarFunction.ts
Due: cargofmt, cargoclippy, cargotest

Add tests for all clients to make sure repeat refreshes work as well as throttling (for clients that implement it).
  client/dart/CHANGELOG.md
  client/dart/lib/src/client.dart
  client/dart/pubspec.yaml
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
  client/go/trailbase/client_test.go
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  client/python/pyproject.toml
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/client/src/client.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Add WASM admin panel extensibility for modules
  crates/assets/js/admin/src/App.tsx
  crates/assets/js/admin/src/components/IndexPage.tsx
  crates/assets/js/admin/src/components/Navbar.tsx
  crates/assets/js/admin/src/components/wasm/WasmModuleSettingsPage.tsx
  crates/assets/js/admin/src/components/wasm/WasmModulesPage.tsx
  crates/assets/js/admin/src/lib/api/wasm-modules.ts
  crates/assets/js/bindings/ListWasmModulesResponse.ts
  crates/assets/js/bindings/WasmModuleEntry.ts
  crates/core/bindings/ListWasmModulesResponse.ts
  crates/core/bindings/WasmModuleEntry.ts
  crates/core/src/admin/mod.rs
  crates/core/src/admin/wasm_modules/list_wasm_modules.rs
  crates/core/src/admin/wasm_modules/mod.rs
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/auth.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Isolate WASM settings fragments in shadow DOM
  crates/assets/js/admin/src/components/wasm/TbHtmlFragment.ts
  crates/assets/js/admin/src/components/wasm/WasmModuleSettingsPage.tsx
Due: none

Add WASM admin panel extensibility for modules
  crates/assets/js/admin/src/App.tsx
  crates/assets/js/admin/src/components/IndexPage.tsx
  crates/assets/js/admin/src/components/Navbar.tsx
  crates/assets/js/admin/src/components/wasm/WasmModuleSettingsPage.tsx
  crates/assets/js/admin/src/components/wasm/WasmModulesPage.tsx
  crates/assets/js/admin/src/lib/api/wasm-modules.ts
  crates/assets/js/bindings/ListWasmModulesResponse.ts
  crates/assets/js/bindings/WasmModuleEntry.ts
  crates/core/bindings/ListWasmModulesResponse.ts
  crates/core/bindings/WasmModuleEntry.ts
  crates/core/src/admin/mod.rs
  crates/core/src/admin/wasm_modules/list_wasm_modules.rs
  crates/core/src/admin/wasm_modules/mod.rs
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-common/src/manifest.rs
  crates/wasm-runtime-guest/src/auth.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Fix module icon color not following admin theme
  crates/assets/js/admin/src/components/wasm/WasmModulesPage.tsx
Due: none

Fix stale theme toggle icon on admin startup
  crates/assets/js/admin/src/lib/theme.ts
Due: none

Add transaction/batch support to Swift client.
  client/swift/trailbase/Sources/TrailBase/Event.swift
  client/swift/trailbase/Sources/TrailBase/Operation.swift
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
Due: swift_format, swift_test

Apply theme sync fix consitently to auth-ui.
  crates/auth-ui/ui/src/lib/theme.ts
Due: none

Try to implement db query/execute using wasip3.
  Cargo.lock
  Cargo.toml
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/wit/trailbase/component/world.wit
  crates/wasm-runtime-guest/wit/trailbase/database/world.wit
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/wasm-runtime-host/src/host.rs
Due: cargofmt, cargoclippy, cargotest

Add subsystem types fallback to avoid guest de-serialization issues when extended.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/wasm-runtime-common/src/manifest.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Add admin dash export.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/core/src/admin/mod.rs
  crates/core/src/admin/wasm_modules/list_wasm_modules.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-common/src/lib.rs
  crates/wasm-runtime-guest/src/auth.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
