Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
  crates/sqlite/Cargo.toml
  crates/wasm-component-repo/Cargo.toml
  crates/wasm-runtime-guest/Cargo.toml
Due: none

Keep apple's public key fetching an internal.
  crates/core/src/auth/api/apple_native_signin.rs
  crates/core/src/auth/apple.rs
  crates/core/src/auth/oauth/providers/apple.rs
Due: cargofmt, cargoclippy, cargotest

Preserve page size when sorting/filtering resets the table explorer's pagination
  crates/assets/js/admin/src/components/explorer/TablePane.tsx
Due: none

Prepare new release v0.33.16.
  CHANGELOG.md
Due: none

docs: clarify JSON schema for file uploads and give the paragraph some love. #291
  docs/src/content/docs/documentation/apis_record.mdx
Due: none

Minor: fix, update and improve admin Ui's quick reference.
  CHANGELOG.md
  crates/assets/js/admin/src/components/IndexPage.tsx
Due: none

Add README documentation to kotlin client
  client/kotlin/README.md
  client/kotlin/lib/build.gradle.kts
Due: kotlin_test

PoC: server comes up with readonly main and session DB. #285
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/core/src/admin/query.rs
  crates/core/src/admin/rows/list_rows.rs
  crates/core/src/admin/table/list_tables.rs
  crates/core/src/app_state.rs
  crates/core/src/connection.rs
  crates/core/src/scheduler.rs
  crates/core/src/schema_metadata.rs
  crates/sqlite/src/sqlite/executor.rs
Due: cargofmt, cargoclippy, cargotest

Make read-only wiring more robust.
  crates/cli/src/bin/trail.rs
  crates/core/src/admin/query.rs
  crates/core/src/admin/rows/list_rows.rs
  crates/core/src/admin/table/list_tables.rs
  crates/core/src/app_state.rs
  crates/core/src/backup.rs
  crates/core/src/connection.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

More explicitly install file deletion triggers.
  crates/core/src/admin/rows/list_rows.rs
  crates/core/src/admin/table/list_tables.rs
  crates/core/src/connection.rs
  crates/core/src/schema_metadata.rs
Due: cargofmt, cargoclippy, cargotest

Disallow config updates in `--read-only` mode.
  crates/cli/src/args.rs
  crates/core/src/admin/config/update_config.rs
  crates/core/src/app_state.rs
Due: cargofmt, cargoclippy, cargotest

Introduce a `--read-only` flag for the `run` subcommand that will start a TrailBase server with SQLite DB writes (logs excluded) and config updates disabled.
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/core/src/admin/config/update_config.rs
  crates/core/src/admin/rows/list_rows.rs
  crates/core/src/admin/table/list_tables.rs
  crates/core/src/app_state.rs
  crates/core/src/backup.rs
  crates/core/src/connection.rs
  crates/core/src/scheduler.rs
  crates/core/src/schema_metadata.rs
  crates/sqlite/src/sqlite/executor.rs
Due: cargofmt, cargoclippy, cargotest

Add S3 settings to admin UI. Fixes #289.
  crates/assets/js/admin/src/components/FormFields.tsx
  crates/assets/js/admin/src/components/settings/FileSettings.tsx
  crates/assets/js/admin/src/components/settings/SettingsPage.tsx
Due: none

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
Due: none

Prepare new release v0.33.17.
  CHANGELOG.md
Due: none

TS client: cleanup header type and test unsetting nullable columns explicitly.
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/simple_strict.ts
Due: none

Dart client: explicit test and demonstrate unsetting of nullable column.
  client/dart/.gitignore
  client/dart/test/trailbase_test.dart
Due: none

Prevent git commits from forcing dev-build rebuilds at the expense of missing or stale version information.
  crates/assets/js/admin/src/components/Version.tsx
  crates/build/src/version.rs
  crates/core/src/metadata.rs
Due: cargofmt, cargoclippy, cargotest

Dotnet client: add a PoC for explicitly overriding cells with null.
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
Due: none

Python client: add a PoC for explicitly overriding a cell with null.
  client/python/tests/test_client.py
Due: python_format, python_check, python_test

Swift client: document current state of explicit null cell overrides.
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
Due: swift_format, swift_test

Kotlin client: document the current state of the world for null cell overrides.
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Go client: show-case overriding cells with explicit nulls.
  client/go/trailbase/client_test.go
Due: go_format, go_test

Go client: update to Go 1.27 to use generic methods.
  .github/actions/setup_build/action.yml
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/go.mod
  client/go/trailbase/record_api.go
Due: go_format, go_test

Kotlin client: test, document and demonstrate use of `Omittable` wrapper to override cells with null.
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Go client: add batch/transaction support.
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/operation.go
  client/go/trailbase/record_api.go
Due: go_format, go_test

Fix error propagation for batch/transactions. 400s were mapped to 500s.
  crates/core/src/records/transaction.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new version v0.33.18.
  CHANGELOG.md
Due: none

Tweak kotlin README.md and add an explicit discussion on schema requirements and skew.
  client/kotlin/README.md
Due: none

Prepare new release v0.33.19.
  CHANGELOG.md
Due: none

Admin UI: fix table explorer incorrect schema/table parse when table name contains ".".
  crates/assets/js/admin/src/components/explorer/TablePane.tsx
  crates/assets/js/admin/src/lib/api/row.ts
Due: none

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/client/Cargo.toml
  crates/core/Cargo.toml
Due: none

Update TanStack tables to v9: https://tanstack.com/table/latest/docs/framework/solid/guide/migrating.
  crates/assets/js/admin/package.json
  crates/assets/js/admin/src/components/accounts/AccountsPage.tsx
  crates/assets/js/admin/src/components/editor/EditorPage.tsx
  crates/assets/js/admin/src/components/explorer/TablePane.tsx
  crates/assets/js/admin/src/components/logs/LogsPage.tsx
  crates/assets/js/admin/src/components/settings/DatabaseSettings.tsx
  crates/assets/js/admin/src/components/table/SqlCell.tsx
  crates/assets/js/admin/src/components/table/Table.tsx
  pnpm-lock.yaml
Due: none

Minor: add more fields to record expansion test.
  crates/core/src/records/read_record.rs
Due: cargofmt, cargoclippy, cargotest

Update screenshots.
  assets/screenshots.svg
  docs/src/assets/screenshots.webp
Due: none

Use a more robust qualified and unqualified schema parser.
  crates/schema/src/lib.rs
  crates/schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest
