Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Add generic `Expandable` wrapper type for shared Kotlin serialization.
  client/kotlin/.gitignore
  client/kotlin/README.md
  client/kotlin/lib/src/commonMain/kotlin/Expandable.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Add generic `Expandable` wrapper type for shared Kotlin serialization.
  client/kotlin/.gitignore
  client/kotlin/README.md
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/commonMain/kotlin/Expandable.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Use fully-qualified schema names and/or escaped names in more places to avoid ambiguity.
  crates/assets/js/admin/src/components/explorer/CreateAlterIndex.tsx
  crates/assets/js/admin/src/components/explorer/CreateAlterTable.tsx
  crates/assets/js/admin/src/components/explorer/RecordApiSettings.tsx
  crates/assets/js/admin/src/components/explorer/TablePane.tsx
  crates/assets/js/admin/src/components/table/Files.tsx
  crates/assets/js/admin/src/lib/api/row.ts
  crates/assets/js/admin/src/lib/qualified_name.ts
  crates/assets/js/admin/src/lib/schema.ts
  crates/assets/js/admin/tests/qualified_name.test.ts
  crates/core/src/records/record_api.rs
  crates/schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Address deprecated clippy warning and update Rust dependencies.
  Cargo.lock
  crates/cli/src/mcp.rs
  crates/core/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Add list messages benchmark.
  crates/core/benches/benchmark.rs
Due: cargofmt, cargoclippy, cargotest

Enable mimalloc in benchmarks to get a more accurate prod-like representation of where bottlnecks may be.
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
  crates/core/benches/benchmark.rs
Due: cargofmt, cargoclippy, cargotest

Tidy up TypeScript integration tests.
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/integration/oauth_integration.test.ts
  crates/assets/js/client/tests/integration_test_runner.ts
  crates/assets/js/client/tests/simple_strict.ts
  crates/assets/js/client/tests/unit.test.ts
Due: none

Re-enable weirdly disabled deleted column clean-up during schema creation and add test for apis on tables with unicode characters in their name.
  client/testfixture/config.textproto
  client/testfixture/migrations/main/U1789800047__create_table_emoji_joke_table.sql
  crates/assets/js/admin/src/components/explorer/CreateAlterTable.tsx
  crates/assets/js/client/tests/integration/client_integration.test.ts
Due: none

Make mobile keyboard resize viewport to prevent unnecessary scrollbars on editor page in admin UI.
  crates/assets/js/admin/index.html
Due: none

Add a record subscription benchmark.
  Cargo.lock
  crates/client/Cargo.toml
  crates/core/Cargo.toml
  crates/core/benches/benchmark.rs
  crates/schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Upgrade wstd to v0.6.8 and some clean-up. Prepare new guest RT release.
  Cargo.lock
  Cargo.toml
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/auth-ui/src/lib.rs
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-guest/src/fetch.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/job.rs
  crates/wasm-runtime-guest/src/lib.rs
  crates/wasm-runtime-guest/src/prefs.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.33.20.
  CHANGELOG.md
Due: none

WIP
  examples/collab-clicker-ssr/package.json
  examples/collab-clicker-ssr/src/App.tsx
  pnpm-lock.yaml
Due: none

Fix homepage footer regression after starlight update.
  docs/src/components/layout/Footer.astro
Due: none

Make demo and SSR example identical, also bundling of assets into the rust guest and put fibonacci behind feature.
  Cargo.lock
  examples/collab-clicker-ssr/Makefile
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/build.rs
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/collab-clicker-ssr/package.json
  examples/collab-clicker-ssr/src/App.tsx
  pnpm-lock.yaml
Due: cargofmt, cargoclippy, cargotest

Tidy up SSR example to better demonstrate best practices.
  Cargo.lock
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
  examples/collab-clicker-ssr/src/App.tsx
  examples/collab-clicker-ssr/src/entry-client.tsx
  examples/collab-clicker-ssr/src/entry-server.tsx
  examples/collab-clicker-ssr/traildepot/migrations/main/U1725019360__create_admin_user.sql
  examples/collab-clicker-ssr/traildepot/migrations/main/U1789980703__create_admin_user.sql
  examples/collab-clicker-ssr/traildepot/migrations/main/U1789980704__create_table_counter.sql
Due: cargofmt, cargoclippy, cargotest

Minor: set up different chrome color with preference dark-mode.
  crates/assets/js/admin/index.html
Due: none

Minor: make timeout watchdog for tests less spamy.
  crates/core/src/app_state.rs
Due: cargofmt, cargoclippy, cargotest

Use `kobalte.Search` for ERD search bar for better UX.
  crates/assets/js/admin/eslint.config.mjs
  crates/assets/js/admin/src/components/erd/ErdPage.tsx
Due: none

Clean-up ERD graph impl, stop focusing on node select, and re-apply style after resizing to avoid (buggy?) edge de-colorization.
  crates/assets/js/admin/src/components/erd/ErdGraph.tsx
  crates/assets/js/admin/src/components/erd/ErdPage.tsx
Due: none

Admin UI minor: rename `Tokens` button to `Impersonate` and smith the instructions.
  crates/assets/js/admin/src/components/openapi/OpenApiPage.tsx
Due: none

Prepare new release v0.33.21.
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
Due: none

WIP: Add environment option to optionally run *some* of the tests against a JS guest.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/guests/typescript/src/index.ts
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/assets/js/client/tests/integration_test_runner.ts
Due: cargofmt, cargoclippy, cargotest

Overhaul integration test setup: no more custom setup, just plain vitest.
  crates/assets/js/admin/tsconfig.json
  crates/assets/js/client/package.json
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/src/record_api.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/integration/oauth_integration.test.ts
  crates/assets/js/client/tests/integration/simple_strict.ts
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/assets/js/client/tests/integration/websocket_integration.test.ts
  crates/assets/js/client/tests/start_oauth_server.ts
  crates/assets/js/client/tests/start_server.ts
  crates/assets/js/client/tests/unit/base64.test.ts
  crates/assets/js/client/tests/unit/encoding.bench.ts
  crates/assets/js/client/tests/unit/unit.test.ts
  crates/assets/js/client/tests/util.ts
  crates/assets/js/client/tsconfig.json
  crates/assets/js/client/vitest.config.ts
  crates/auth-ui/ui/tsconfig.json
  docs/examples/record_api_ts/tsconfig.json
  pnpm-lock.yaml
Due: none

Add `batchExecute` support to JS/TS guests and implement more test endpoints.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/guests/typescript/src/index.ts
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  guests/typescript/src/db/index.ts
Due: cargofmt, cargoclippy, cargotest

Fix: when a WASM guest panicks respond right away and remove the component instance from the pool.
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-host/src/lib.rs
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Use node instead of happy-dom for integration tests.
  crates/assets/js/client/package.json
  crates/assets/js/client/vitest.config.ts
  pnpm-lock.yaml
Due: none

Fix: when a WASM guest panics respond right away and remove the component instance from the pool.
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-host/src/lib.rs
  examples/collab-clicker-ssr/guests/rust/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.33.22.
  CHANGELOG.md
Due: none

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
Due: none

Experiment with explicitly shutthing down pglite in tests to help with timeouts.
  Cargo.lock
  crates/core/src/app_state.rs
Due: cargofmt, cargoclippy, cargotest

Fix attached-DB collisions in combined Rust + JS WASM guest integration tests.
  CHANGELOG.md
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
Due: none

WIP
  Cargo.lock
  crates/sqlite/Cargo.toml
  crates/sqlite/src/error.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/params.rs
  crates/sqlite/src/stoolap/executor.rs
  crates/sqlite/src/stoolap/mod.rs
  crates/sqlite/src/stoolap/sync.rs
  crates/sqlite/src/stoolap/value.rs
  crates/sqlite/src/type.rs
Due: cargofmt, cargoclippy, cargotest

Run integration tests also against JS test component.
  .github/workflows/test.yml
  client/testfixture/wasm/.gitattributes
  client/testfixture/wasm/wasm_ts_guest_testfixture.wasm
Due: none

WIP
  crates/sqlite/src/generic.rs
  crates/sqlite/src/stoolap/sync.rs
  crates/sqlite/src/stoolap/value.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/sqlite/src/generic.rs
Due: cargofmt, cargoclippy, cargotest

Make `ATTACH DATABASE` calls from WASM to require relative paths that will be placed under `<depot>/data` rather than CWD.
  Cargo.lock
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-axum/examples/standalone.rs
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-host/Cargo.toml
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Remove `query_value(s)` accessors.
  .gitmodules
  Cargo.lock
  Cargo.toml
  crates/core/src/admin/logs/list_logs.rs
  crates/core/src/auth/create_external_user.rs
  crates/sqlite/Cargo.toml
  crates/sqlite/examples/uuid.rs
  crates/sqlite/src/error.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/tests.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/core/src/admin/rows/delete_rows.rs
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/cli.rs
  crates/core/src/auth/create_external_user.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/user.rs
  crates/core/src/auth/util.rs
  crates/core/src/records/files.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/update_record.rs
  crates/core/src/scheduler.rs
  crates/core/tests/core_integration_test.rs
Due: cargofmt, cargoclippy, cargotest
