Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Conditional WASM state lifecycle based on guest runtime. Allow Rust components to share state across HTTP requests to reduce overhead.
  Cargo.lock
  crates/assets/js/client/package.json
  crates/assets/js/client/tests/integration_test_runner.ts
  crates/core/src/server/mod.rs
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-host/Cargo.toml
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Sandbox srcdoc iframe and pass tokens explicitly via postMessage setup.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/assets/js/admin/src/components/wasm/WasmComponentDetails.tsx
  crates/assets/js/admin/src/lib/client.ts
  crates/auth-ui/ui/src/components/admin/SettingsPage.tsx
  crates/auth-ui/ui/src/lib/admin-client.ts
  crates/build/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Minor: log component metadata.
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-common/src/manifest.rs
Due: cargofmt, cargoclippy, cargotest

Improve and fix prettier pre-commit invocation.
  .pre-commit-config.yaml
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/client/package.json
  crates/auth-ui/ui/.prettierignore
  crates/auth-ui/ui/bindings/AuthUiSettings.ts
  crates/auth-ui/ui/package.json
  crates/core/src/app_state.rs
  docs/examples/wasm-guest-ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
Due: cargofmt, cargoclippy, cargotest

Wire up AuthUiSettings.
  client/testfixture/config.textproto
  client/testfixture/secrets/secrets.textproto
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/auth-ui/src/auth.rs
  crates/auth-ui/src/lib.rs
  crates/auth-ui/ui/bindings/AuthUiSettings.ts
  crates/auth-ui/ui/src/components/AlertBox.astro
  crates/auth-ui/ui/src/components/Card.astro
  crates/auth-ui/ui/src/components/Form.astro
  crates/auth-ui/ui/src/components/FormCard.astro
  crates/auth-ui/ui/src/components/admin/SettingsPage.tsx
  crates/auth-ui/ui/src/layouts/FormLayout.astro
  crates/auth-ui/ui/src/pages/admin/ui.astro
  crates/auth-ui/ui/src/pages/change_email.astro
  crates/auth-ui/ui/src/pages/change_password.astro
  crates/auth-ui/ui/src/pages/change_username.astro
  crates/auth-ui/ui/src/pages/login.astro
  crates/auth-ui/ui/src/pages/login_mfa.astro
  crates/auth-ui/ui/src/pages/otp/login.astro
  crates/auth-ui/ui/src/pages/otp/request.astro
  crates/auth-ui/ui/src/pages/register.astro
  crates/auth-ui/ui/src/pages/reset_password/request.astro
  crates/auth-ui/ui/src/pages/reset_password/update.astro
  crates/wasm-runtime-guest/src/auth.rs
Due: cargofmt, cargoclippy, cargotest

Minor: mute (faint color) the cards for WASM components w/o a dashboard.
  crates/assets/js/admin/src/components/wasm/WasmComponentsList.tsx
Due: none

Add release for Tetris WASM component.
  .github/workflows/release.yml
Due: none

Move component management and repo related functionality into a separate crate.
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/cli/src/lib.rs
  crates/core/src/data_dir.rs
  crates/wasm-component-repo/Cargo.toml
  crates/wasm-component-repo/build.rs
  crates/wasm-component-repo/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Cache config and settings consistently in auth-ui.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/auth-ui/src/lib.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Factor WASM component release workflow into a parametrized action.
  .github/actions/free_disk/action.yml
  .github/actions/release_component/action.yml
  .github/actions/setup_build/action.yml
  .github/actions/setup_clients/action.yml
  .github/workflows/release.yml
Due: none

Forward theme (light/dark) to WASM dashboard.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/assets/js/admin/src/components/wasm/WasmComponentDetails.tsx
  crates/auth-ui/ui/src/lib/admin-client.ts
Due: none

Add a tetris component and auto-focus component iframe on load.
  .github/workflows/release.yml
  Cargo.lock
  client/testfixture/wasm/.gitignore
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/assets/js/admin/src/components/wasm/WasmComponentDetails.tsx
  crates/auth-ui/src/lib.rs
  crates/tetris/.gitignore
  crates/tetris/Cargo.toml
  crates/tetris/Makefile
  crates/tetris/assets/index.html
  crates/tetris/assets/tis.js
  crates/tetris/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Minor: clean-up components and add a placeholder info card to admin UI's component list.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/admin/src/components/wasm/WasmComponentsList.tsx
  crates/auth-ui/src/lib.rs
  crates/tetris/src/lib.rs
  crates/wasm-component-repo/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Play around with different sandboxing options, add a convenient dev-only button to toggle the sandbox on/off and add scaffolding install/uninstall UI for components.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/admin/src/components/erd/ErdPage.tsx
  crates/assets/js/admin/src/components/wasm/WasmComponentDetails.tsx
  crates/assets/js/admin/src/components/wasm/WasmComponentsList.tsx
  crates/assets/js/admin/src/components/wasm/WasmPage.tsx
  crates/assets/js/admin/src/lib/api/wasm-components.ts
  crates/assets/js/admin/src/lib/header.ts
  crates/assets/js/admin/vite.config.mts
  crates/auth-ui/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Validate admin_ui_path to not sent admins off site.
  Cargo.lock
  crates/assets/js/admin/src/components/wasm/WasmComponentDetails.tsx
  crates/core/src/admin/wasm.rs
  crates/wasm-runtime-axum/Cargo.toml
  crates/wasm-runtime-axum/src/lib.rs
  pnpm-workspace.yaml
Due: cargofmt, cargoclippy, cargotest

Improve WASM component browsing: list components w/o explicit metadata and indicate both: installed on FS and loaded.
  crates/assets/js/admin/src/components/wasm/WasmComponentsList.tsx
  crates/assets/js/bindings/WasmComponent.ts
  crates/core/src/admin/wasm.rs
Due: cargofmt, cargoclippy, cargotest

Fix JS/TS WASM guest runtime.
  client/testfixture/guests/typescript/src/index.ts
  guests/typescript/.prettierignore
  guests/typescript/generated/types/interfaces/trailbase-component-sqlite-function-endpoint.d.ts
  guests/typescript/generated/types/interfaces/trailbase-database-sqlite.d.ts
  guests/typescript/generated/types/interfaces/wasi-filesystem-types.d.ts
  guests/typescript/generated/types/interfaces/wasi-http-types.d.ts
  guests/typescript/src/db/index.ts
  guests/typescript/src/db/value.ts
  guests/typescript/src/index.ts
  guests/typescript/tsconfig.json
Due: none

Fix admin UI CSP.
  crates/assets/js/admin/vite.config.mts
Due: none

Specify guest-runtime in manifest metadata when using JS/TS runtime.
  guests/typescript/src/index.ts
Due: none

Add WASM component management endpoints.
  Cargo.lock
  crates/assets/js/admin/src/components/wasm/WasmComponentsList.tsx
  crates/assets/js/bindings/WasmComponent.ts
  crates/assets/js/bindings/WasmComponentRequest.ts
  crates/cli/Cargo.toml
  crates/cli/src/bin/trail.rs
  crates/core/Cargo.toml
  crates/core/src/admin/mod.rs
  crates/core/src/admin/wasm.rs
  crates/wasm-component-repo/Cargo.toml
  crates/wasm-component-repo/src/lib.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Fix dotnet pre-commit tasks. Apparently using the csproj tag (which was recognized) prevented it from running :/.
  .pre-commit-config.yaml
Due: none

Re-enable admin acl check on auth-ui dashboard and please the linter.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/auth-ui/src/lib.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Minor: only run WASM-store pool clean-up when min size is exceeded.
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/wasm-component-repo/Cargo.toml
Due: none

Add a option version field to WASM component's manifest metadata and wire it up.
  Cargo.lock
  client/testfixture/guests/rust/Cargo.toml
  client/testfixture/guests/rust/build.rs
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/admin/src/components/wasm/WasmComponentDetails.tsx
  crates/assets/js/admin/src/components/wasm/WasmComponentsList.tsx
  crates/assets/js/bindings/WasmComponent.ts
  crates/auth-ui/Cargo.toml
  crates/auth-ui/build.rs
  crates/auth-ui/src/lib.rs
  crates/core/src/admin/wasm.rs
  crates/wasm-runtime-common/src/manifest.rs
  guests/typescript/generated/common/Metadata.ts
  guests/typescript/src/index.ts
Due: cargofmt, cargoclippy, cargotest

Add metadata support to TypeScript WASM guest runtime.
  .pre-commit-config.yaml
  client/testfixture/guests/typescript/src/index.ts
  crates/auth-ui/src/lib.rs
  crates/core/src/admin/wasm.rs
  crates/wasm-runtime-common/src/manifest.rs
  guests/typescript/generated/common/Metadata.ts
  guests/typescript/src/index.ts
Due: cargofmt, cargoclippy, cargotest

Prevent WASM component management in demo mode and fix build post rebase.
  .github/workflows/release.yml
  Cargo.lock
  crates/core/src/admin/wasm.rs
  crates/wasm-runtime-axum/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Make stderr logging of WASM host-runtime more useful.
  client/testfixture/guests/typescript/src/index.ts
  crates/core/src/admin/wasm.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.32.0.
  CHANGELOG.md
Due: none

Prepare TB v0.32.0 compatible WASM guest runtime releases for TS & Rust (both v0.6.0).
  Cargo.lock
  Cargo.toml
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/sqlvalue/Cargo.toml
  crates/wasm-runtime-common/Cargo.toml
  crates/wasm-runtime-guest/Cargo.toml
  guests/typescript/package.json
Due: none

Upgrade `aes-gcm-siv` to v0.12.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/encryption.rs
Due: cargofmt, cargoclippy, cargotest

Update PocketBase comparison docs.
  docs/src/content/docs/comparison/pocketbase.mdx
Due: none

Let copilot fix my spelling.
  docs/src/content/blog/switching_to_a_wasm_runtime.mdx
  docs/src/content/docs/comparison/pocketbase.mdx
  docs/src/content/docs/documentation/apis_overview.mdx
  docs/src/content/docs/documentation/apis_record.mdx
  docs/src/content/docs/documentation/migrations.mdx
  docs/src/content/docs/documentation/production.mdx
  docs/src/content/docs/getting-started/first-realtime-app.mdx
Due: none

WIP: single source of truth.
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/cli/src/bin/trail.rs
  crates/core/Cargo.toml
  crates/core/src/auth/api/avatar.rs
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/change_password.rs
  crates/core/src/auth/api/change_username.rs
  crates/core/src/auth/api/delete.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/login_anonymous.rs
  crates/core/src/auth/api/logout.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/api/promote_anonymous.rs
  crates/core/src/auth/api/refresh.rs
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/api/reset_password.rs
  crates/core/src/auth/api/status.rs
  crates/core/src/auth/api/token.rs
  crates/core/src/auth/api/totp.rs
  crates/core/src/auth/api/verify_email.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/list_providers.rs
  crates/core/src/auth/oauth/mod.rs
  crates/core/src/lib.rs
  crates/core/src/records/mod.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Add missing public APIs to openapi.
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/login.rs
  crates/core/src/auth/oauth/mod.rs
  crates/core/src/lib.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/delete_record.rs
  crates/core/src/records/json_schema.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/update_record.rs
Due: cargofmt, cargoclippy, cargotest

Only build a static router to avoid state initialization for now.
  crates/cli/src/bin/trail.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/mod.rs
  crates/core/src/lib.rs
  crates/core/src/records/mod.rs
  crates/core/tests/core_integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Add native MCP server to TrailBase
  Cargo.lock
  Cargo.toml
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/mcp.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Add OAuth login flow for native MCP
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/mcp.rs
Due: cargofmt, cargoclippy, cargotest

Replace MCP sidecar with native deployment
  README.md
  crates/core/src/mcp.rs
  docker-compose.yml
  mcp/Dockerfile
  mcp/README.md
  mcp/pyproject.toml
  mcp/src/trailbase_mcp/__init__.py
  mcp/src/trailbase_mcp/client.py
  mcp/src/trailbase_mcp/endpoints.py
  mcp/src/trailbase_mcp/proto/__init__.py
  mcp/src/trailbase_mcp/proto/config_api_pb2.py
  mcp/src/trailbase_mcp/proto/config_pb2.py
  mcp/src/trailbase_mcp/server.py
  mcp/tests/test_client.py
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test
