Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Fix ws builds.
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/manager.rs
Due: cargofmt, cargoclippy, cargotest

Fix MacOS release workflows.
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

Simplify the brokering logic and locking.
  crates/core/src/app_state.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/mod.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/subscribe.rs
  crates/core/src/records/subscribe/tests.rs
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Break up record api subscriptions into multiple files.
  crates/core/src/app_state.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/subscribe.rs
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/mod.rs
  crates/core/src/records/subscribe/subscribe.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Fix builds for Rust client's `ws` feature.
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/core/src/extract/either.rs
Due: cargofmt, cargoclippy, cargotest

Add a stress test for subscriptions.
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/tests/integration_test.rs
  crates/core/src/server/mod.rs
  crates/core/src/server/serve.rs
Due: cargofmt, cargoclippy, cargotest

Add a sequence number to SSE Achange events. This is important to discover transparent re-connects and discover missed events on the client-side.
  Cargo.toml
  client/dart/lib/src/sse.dart
  client/dart/lib/src/transport.dart
  client/dart/lib/trailbase.dart
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
  crates/core/src/records/event.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/subscribe.rs
  docs/examples/record_api_rs/src/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Fix WASM "ATTACH DATABASE" and sqlite error unpacking. #221
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/sqlite/src/connection.rs
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
  crates/wasm-runtime-guest/Cargo.toml
Due: none

WIP: slowly weed out.
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Add event validation to websocket flow.
  crates/core/src/records/subscribe/handler.rs
Due: cargofmt, cargoclippy, cargotest

C#/Dotnet Client: support new ErrorEvent format with programmatic status and add sequence numbers.
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/RecordApi.cs
Due: none

WIP: some minor cleanup.
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

Add programmatic status to event error.
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

WIP: Fewer locks less opportunity for cicles.
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

Move all tests to invoke handler.
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Switch to integer ChangeEvent error status representaiton and add sequence numbers to dart client.
  Cargo.lock
  client/dart/lib/src/sse.dart
  client/dart/test/unit_test.dart
  crates/core/Cargo.toml
  crates/core/src/records/subscribe/event.rs
Due: cargofmt, cargoclippy, cargotest

Some cleanup.
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

PoC: Subscription cleanup from handler via error result.
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

WIP: minor cleanup.
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
Due: cargofmt, cargoclippy, cargotest

TS Client: support new error ChangeEvent encoding with programmatic status.
  crates/assets/js/client/src/record_api.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/unit.test.ts
Due: none

WIP
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Minor: cleanup.
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
Due: cargofmt, cargoclippy, cargotest

Ugly PoC.
  crates/client/tests/integration_test.rs
  crates/core/src/records/filter.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

Go client: support structured change event errors and sequence numbers.
  client/go/trailbase/client.go
  client/go/trailbase/event.go
  client/go/trailbase/record_api_test.go
Due: go_format, go_test

Move change event brokering to a separate thread.
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/core/src/records/filter.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Dart client: add more event decoding tests.
  client/dart/test/unit_test.dart
Due: none

Dart client: update error event encoding.
  client/dart/lib/src/sse.dart
Due: none

Python client: add evnet abstraction, parsing of progrmmatic error and sequence numbers.
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

Slowly start moving tests to use the actual handlers.
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/client/tests/integration_test.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Rust client: support programmatic change event error statuses.
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Kotlin client: add support for programmatic change event errors.
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Add an explicit EventLoss event.
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest

TS client: add an `onLoss` callback option to trigger some response to event loss.
  crates/assets/js/client/src/record_api.ts
Due: none

Add a sequence number to SSE change events. This is important to discover transparent re-connects and discover missed events on the client-side.
  Cargo.toml
  client/dart/lib/src/sse.dart
  client/dart/lib/src/transport.dart
  client/dart/lib/trailbase.dart
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
  crates/core/src/records/event.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/subscribe.rs
  docs/examples/record_api_rs/src/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Python client: add event abstraction, parsing of programmatic error and sequence numbers.
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
