Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

Add a record read benchmark.
  crates/core/benches/benchmark.rs
Due: cargofmt, cargoclippy, cargotest

Remove brittle alloc_tracker from benchmarks again. We should use profilers and sampling instead, at least we can be sure that we're getting everyting.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/benches/benchmark.rs
Due: cargofmt, cargoclippy, cargotest

Use a special `RawJson(RawValue)` type that implements IntoResponse minimizing allocations on serialization.
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/extract/mod.rs
  crates/core/src/extract/raw_json.rs
  crates/core/src/records/read_record.rs
  crates/core/src/schema_metadata.rs
Due: cargofmt, cargoclippy, cargotest

Fix performance regression in v0.33.3.
  crates/core/src/admin/mod.rs
  crates/core/src/admin/openapi.rs
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/login_anonymous.rs
  crates/core/src/auth/api/logout.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/extract/mod.rs
  crates/core/src/openapi.rs
  crates/core/src/server/mod.rs
  crates/core/tests/core_integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/client/Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/pg-schema/Cargo.toml
  crates/schema/Cargo.toml
  crates/sqlite/Cargo.toml
  crates/sqlvalue/Cargo.toml
  crates/wasm-runtime-guest/Cargo.toml
  crates/wasm-runtime-host/Cargo.toml
Due: none

Redistribute responsibilities and simplify router construction.
  crates/assets/js/admin/src/components/auth/AuthButton.tsx
  crates/core/src/admin/mod.rs
  crates/core/src/auth/api/apple_native_signin.rs
  crates/core/src/auth/mod.rs
  crates/core/src/openapi.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.34.0.
  CHANGELOG.md
Due: none

Run integration tests also against JS test component.
  .github/workflows/test.yml
  client/testfixture/wasm/.gitattributes
  client/testfixture/wasm/wasm_ts_guest_testfixture.wasm
Due: none

WIP
  Cargo.lock
  crates/sqlite/Cargo.toml
  crates/sqlite/src/error.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/params.rs
  crates/sqlite/src/stoolap/executor.rs
  crates/sqlite/src/stoolap/mod.rs
  crates/sqlite/src/stoolap/sync.rs
  crates/sqlite/src/stoolap/value.rs
  crates/sqlite/src/type.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/sqlite/src/generic.rs
  crates/sqlite/src/stoolap/sync.rs
  crates/sqlite/src/stoolap/value.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/sqlite/src/generic.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/app_state.rs
  crates/core/src/connection.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/record_api.rs
  crates/core/src/schema_metadata.rs
  crates/core/src/test_utils.rs
  crates/core/src/util.rs
  crates/refinery/src/drivers/trailbase.rs
  crates/sqlite/Cargo.toml
  crates/sqlite/src/generic.rs
Due: cargofmt, cargoclippy, cargotest

Trying to make benchmarks work for stoolap.
  crates/sqlite/Cargo.toml
  crates/sqlite/benches/synthetic/benchmark.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/stoolap/executor.rs
Due: cargofmt, cargoclippy, cargotest

Fix admin UI dashboard failing to fetch logs and prepare new release v0.34.1.
  CHANGELOG.md
  crates/core/src/admin/logs/list_logs.rs
  crates/core/src/extract/raw_json.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/schema/src/json/record.rs
  crates/schema/src/json/value.rs
Due: cargofmt, cargoclippy, cargotest

Use an expoential moving average + randomization to make check-password-equivalent waits a bit less obvious.
  Cargo.lock
  Cargo.toml
  crates/assets/Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/password.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: none

More aggressive retries for PG tests on CI.
  .github/workflows/test.yml
  crates/core/src/app_state.rs
Due: cargofmt, cargoclippy, cargotest

Migrate tests from `pglite-oxide` to `oliphaunt-wasix`. The crate was renamed.
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/app_state.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/core/tests/core_integration_test.rs
  crates/pg-schema/Cargo.toml
  crates/pg-schema/src/table.rs
  crates/pg-schema/src/util.rs
  crates/sqlite/Cargo.toml
  crates/sqlite/src/generic.rs
  crates/sqlite/src/pg/executor.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.34.2.
  CHANGELOG.md
Due: none

Add security audit GitHub workflow
  .github/workflows/audit.yaml
  deny.toml
Due: none

Switch from paste crate to pastey
  Cargo.lock
  crates/reactive/Cargo.toml
  crates/reactive/src/macros.rs
Due: cargofmt, cargoclippy, cargotest

Ignore RUSTSEC-2023-0071 due to no fix availability
  deny.toml
Due: none

Add pnpm audit check to audit workflow
  .github/workflows/audit.yaml
Due: none

Run audit workflow on its configuration file change
  .github/workflows/audit.yaml
Due: none

Fix npm vulnerabilities and ignore major version bumping ones
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add a retry to default `pre-commit` CI test run as well. CI is getting worse by the day.
  .github/workflows/test.yml
Due: none

Fix call WASM timeouts and Job error response handling. Based on #297 - 🙏 @jimmydjabali. Fixes #297.
  crates/wasm-runtime-axum/src/lib.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Remove `tokio-metrics`: it's not very insightful and seems to indefinitely block up the watchdog thread if trying to report on a sibbling rt.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/app_state.rs
Due: cargofmt, cargoclippy, cargotest

Add security audit GitHub workflow. Mostly #296 by @0rzech - Thanks.
  .github/workflows/audit.yaml
  Cargo.lock
  crates/reactive/Cargo.toml
  crates/reactive/src/macros.rs
  deny.toml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargofmt, cargoclippy, cargotest

Add referential actions to FKs in create/alter table forms. Fixes #294.
  crates/assets/js/admin/src/components/explorer/CreateAlterColumnForm.tsx
Due: none

Switch to `lefthook` to get unbuffered, interactive output for commands that time out in CI.
  .github/workflows/audit.yaml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  client/dart/test/trailbase_test.dart
  crates/client/tests/client_integration_test.rs
  lefthook.yml
Due: cargofmt, cargoclippy, cargotest

The `trailbase-sqlite` pg tests seem to be causing the timeouts. Remove from default runs.
  lefthook.yml
Due: none

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
  crates/wasm-component-repo/Cargo.toml
Due: none

Update JS and add `pnpm -r build` to hooks.
  .github/workflows/audit.yaml
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/client/package.json
  crates/assets/js/client/src/record_api.ts
  crates/assets/js/client/vite.config.ts
  crates/auth-ui/ui/package.json
  docs/examples/record_api_ts/package.json
  docs/examples/wasm-guest-ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add watchdog to all tests involving deadlocking pglite :/. Also explicitly `--skip=postgres` tests that are not excluded by the feature flags.
  .github/workflows/test.yml
  Cargo.lock
  crates/core/src/app_state.rs
  crates/core/tests/core_integration_test.rs
  crates/pg-schema/Cargo.toml
  crates/pg-schema/src/util.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/pg/executor.rs
  crates/sqlite/src/pg/util.rs
  crates/sqlite/src/test_util.rs
  lefthook.yml
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/wasm-component-repo/Cargo.toml
  crates/wasm-runtime-host/Cargo.toml
Due: none

Use `libtest-mimic` for a custom rust client integration test harness and guarantee test order.
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/tests/client_integration_test.rs
  crates/client/tests/server/mod.rs
  crates/sqlite/src/test_util.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.34.3.
  CHANGELOG.md
Due: none

Add preset for boolean values to table editor
  crates/assets/js/admin/src/components/explorer/CreateAlterColumnForm.tsx
Due: none

Add boolean serializer to Kotlin client
  client/kotlin/README.md
  client/kotlin/lib/src/commonMain/kotlin/Serializers.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test
