Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

change OTP params to make it more secure
  crates/core/src/auth/api/otp.rs
  crates/core/src/constants.rs
Due: cargofmt, cargoclippy, cargotest

TOTP as second auth method after OTP
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/bindings/TOTPRequiredResponse.ts
  crates/assets/js/client/src/index.ts
  crates/core/src/auth/api/otp.rs
Due: cargofmt, cargoclippy, cargotest

ask for TOTP after password
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/bindings/VerifyTOTPRequest.ts
  crates/assets/js/client/src/index.ts
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/otp.rs
Due: cargofmt, cargoclippy, cargotest

add TOTP disable fonction
  crates/assets/js/admin/src/components/auth/AuthButton.tsx
  crates/assets/js/bindings/DisableTOTPRequest.ts
  crates/assets/js/client/src/index.ts
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/mod.rs
Due: cargofmt, cargoclippy, cargotest

add TOTP confirmation
  crates/assets/js/admin/src/components/auth/AuthButton.tsx
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/bindings/ConfirmTOTPRequest.ts
  crates/assets/js/client/src/index.ts
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/mod.rs
Due: cargofmt, cargoclippy, cargotest

add OTP template customisation
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
  crates/core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

Overhaul schema metadata handling in preparation for geometry columns.
  crates/core/Cargo.toml
  crates/core/src/admin/logs/list_logs.rs
  crates/core/src/admin/logs/stats.rs
  crates/core/src/admin/rows/delete_rows.rs
  crates/core/src/admin/rows/list_rows.rs
  crates/core/src/admin/rows/read_files.rs
  crates/core/src/admin/rows/update_row.rs
  crates/core/src/admin/user/list_users.rs
  crates/core/src/auth/api/avatar.rs
  crates/core/src/connection.rs
  crates/core/src/listing.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/delete_record.rs
  crates/core/src/records/expand.rs
  crates/core/src/records/filter.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/params.rs
  crates/core/src/records/read_queries.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/update_record.rs
  crates/core/src/records/validate.rs
  crates/core/src/schema_metadata.rs
  crates/schema/src/json_schema.rs
  crates/schema/src/metadata.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: none

Prepare new release v0.23.10.
  CHANGELOG.md
Due: none

Streamline JS/TS WASM HTTP handler, introduce HttpResponse.(status|ok|text|json).
  client/testfixture/guests/typescript/src/index.ts
  docs/eslint.config.mjs
  docs/examples/wasm-guest-ts/.gitignore
  docs/examples/wasm-guest-ts/eslint.config.mjs
  docs/examples/wasm-guest-ts/package.json
  docs/examples/wasm-guest-ts/src/component.ts
  docs/examples/wasm-guest-ts/src/index.ts
  docs/examples/wasm-guest-ts/tsconfig.json
  docs/examples/wasm-guest-ts/vite.config.ts
  docs/src/content/docs/documentation/apis_js.mdx
  examples/coffee-vector-search/guests/rust/src/lib.rs
  examples/coffee-vector-search/guests/typescript/src/index.ts
  examples/wasm-guest-js/src/index.js
  examples/wasm-guest-ts/src/index.ts
  guests/typescript/package.json
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/http/request.ts
  guests/typescript/src/http/response.ts
  guests/typescript/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: cargofmt, cargoclippy, cargotest

Update JavaScript dependencies.
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/client/package.json
  crates/auth-ui/ui/eslint.config.mjs
  crates/auth-ui/ui/package.json
  docs/eslint.config.mjs
  docs/examples/record_api_ts/package.json
  docs/examples/wasm-guest-ts/package.json
  docs/package.json
  docs/tsconfig.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  guests/typescript/src/db/index.ts
  pnpm-lock.yaml
Due: none

Stop rolling up trailbase-wasm types to avoid duplicating types per module and confusing tsc.
  examples/wasm-guest-js/src/index.js
  guests/typescript/package.json
  guests/typescript/src/http/incoming.ts
  guests/typescript/src/http/index.ts
  guests/typescript/src/http/response.ts
  guests/typescript/vite.config.ts
Due: none

Update docs to address geospatial support.
  README.md
  crates/assets/js/client/src/index.ts
  docs/src/components/layout/Hero.astro
  docs/src/content/docs/documentation/apis_record.mdx
  docs/src/content/docs/documentation/models_and_relations.mdx
Due: none

Add geospatial filters for @intersects and @within.
  crates/core/src/records/filter.rs
  crates/core/src/records/list_records.rs
  crates/qs/src/column_rel_value.rs
  crates/qs/src/filter.rs
  crates/qs/src/query.rs
Due: cargofmt, cargoclippy, cargotest

Update CHANGELOG.
  CHANGELOG.md
Due: none

Support @within geometry queries.
  Cargo.lock
  crates/core/src/records/filter.rs
  crates/qs/Cargo.toml
  crates/qs/src/column_rel_value.rs
  crates/qs/src/filter.rs
  crates/qs/src/query.rs
Due: cargofmt, cargoclippy, cargotest

Add support for GeoJSON queries to TS client.
  client/testfixture/config.textproto
  client/testfixture/migrations/main/U1771413762__create_table_geometry.sql
  crates/assets/js/client/package.json
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/unit.test.ts
  pnpm-lock.yaml
Due: none

Use LiteGIS from newly published crate.
  Cargo.lock
  Cargo.toml
  crates/schema/src/json_schema.rs
  vendor/litegis/.gitignore
  vendor/litegis/.rustfmt.toml
  vendor/litegis/Cargo.lock
  vendor/litegis/Cargo.toml
  vendor/litegis/LICENSE
  vendor/litegis/README.md
  vendor/litegis/crates/litegis-so/Cargo.toml
  vendor/litegis/crates/litegis-so/src/lib.rs
  vendor/litegis/crates/litegis/Cargo.toml
  vendor/litegis/crates/litegis/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

WIP: clients spatial query support.
  client/dart/lib/src/client.dart
  crates/assets/js/client/src/index.ts
Due: none

Fix nullable geometry columns.
  Cargo.lock
  Cargo.toml
  crates/core/src/records/list_records.rs
Due: cargofmt, cargoclippy, cargotest

Add r/o support for WKB/WKT geometry columns to admin UI.
  client/testfixture/migrations/main/U1771413762__create_table_geometry.sql
  crates/assets/js/admin/package.json
  crates/assets/js/admin/src/components/tables/TablePane.tsx
  crates/assets/js/admin/src/lib/schema.ts
  crates/assets/js/admin/src/lib/wkb.ts
  pnpm-lock.yaml
Due: none

Add GeoJson Geometry JSONSchema support.
  crates/core/src/schema_metadata.rs
  crates/schema/schemas/Geometry.json
  crates/schema/src/json_schema.rs
Due: cargofmt, cargoclippy, cargotest

Add a separate QS validation step, and validate WKT inputs further.
  Cargo.lock
  crates/core/src/listing.rs
  crates/core/src/records/filter.rs
  crates/qs/Cargo.toml
  crates/qs/src/column_rel_value.rs
  crates/qs/src/filter.rs
  crates/qs/src/query.rs
Due: cargofmt, cargoclippy, cargotest

Hook up LiteGIS.
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/connection.rs
  crates/core/src/records/read_record.rs
  crates/schema/Cargo.toml
  crates/schema/src/json_schema.rs
  vendor/litegis/.gitignore
  vendor/litegis/.rustfmt.toml
  vendor/litegis/Cargo.lock
  vendor/litegis/Cargo.toml
  vendor/litegis/LICENSE
  vendor/litegis/README.md
  vendor/litegis/crates/litegis-so/Cargo.toml
  vendor/litegis/crates/litegis-so/src/lib.rs
  vendor/litegis/crates/litegis/Cargo.toml
  vendor/litegis/crates/litegis/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Support geospatial filters in all the remaining clients.
  client/dotnet/trailbase/RecordApi.cs
  client/go/trailbase/record_api.go
  client/kotlin/lib/src/main/kotlin/Library.kt
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  crates/client/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Add a GeoJson test.
  crates/core/src/records/read_record.rs
Due: cargofmt, cargoclippy, cargotest

Fix filter query construction for ST_Within and add a geojson listing test.
  crates/core/src/records/list_records.rs
  crates/qs/src/column_rel_value.rs
  crates/qs/src/filter.rs
Due: cargofmt, cargoclippy, cargotest

Allow record listings to return GeoJSON FeatureCollections.
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/core/src/records/list_records.rs
  crates/core/src/schema_metadata.rs
Due: cargofmt, cargoclippy, cargotest

Add untested WKB column (de-)serialization.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/records/expand.rs
  crates/core/src/records/params.rs
  crates/core/src/records/read_record.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/records/params.rs
Due: cargofmt, cargoclippy, cargotest

Add support for WKB geometry columns, @within, @intersects & @contains spatial queries list and GeoJSON FeatureCollection output.
  Cargo.lock
  Cargo.toml
  client/testfixture/migrations/main/U1771413762__create_table_geometry.sql
  crates/assets/js/admin/package.json
  crates/assets/js/admin/src/components/tables/TablePane.tsx
  crates/assets/js/admin/src/lib/schema.ts
  crates/assets/js/admin/src/lib/wkb.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/core/Cargo.toml
  crates/core/src/connection.rs
  crates/core/src/listing.rs
  crates/core/src/records/expand.rs
  crates/core/src/records/filter.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/params.rs
  crates/core/src/records/read_record.rs
  crates/core/src/schema_metadata.rs
  crates/qs/Cargo.toml
  crates/qs/src/column_rel_value.rs
  crates/qs/src/filter.rs
  crates/qs/src/query.rs
  crates/schema/Cargo.toml
  crates/schema/schemas/Geometry.json
  crates/schema/src/json_schema.rs
  pnpm-lock.yaml
Due: cargofmt, cargoclippy, cargotest

Add support for geospatial queries to all clients. The TS client also supports GeoJSON FeatureCollection output.
  client/dart/lib/src/client.dart
  client/dotnet/trailbase/RecordApi.cs
  client/go/trailbase/record_api.go
  client/kotlin/lib/src/main/kotlin/Library.kt
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/testfixture/config.textproto
  client/testfixture/migrations/main/U1771413762__create_table_geometry.sql
  crates/assets/js/client/package.json
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/unit.test.ts
  crates/client/src/lib.rs
  pnpm-lock.yaml
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Update docs to cover geometry columns and geospatial querying.
  README.md
  crates/assets/js/client/src/index.ts
  docs/src/components/layout/Hero.astro
  docs/src/content/docs/documentation/apis_record.mdx
  docs/src/content/docs/documentation/models_and_relations.mdx
Due: none

Prepare new release v0.24.0.
  CHANGELOG.md
Due: none

Use bundled static GEOS build.
  Cargo.lock
  Cargo.toml
Due: none

Prepare releases of new client versions.
  Cargo.lock
  client/dart/CHANGELOG.md
  client/dart/pubspec.yaml
  client/dotnet/trailbase/TrailBase.csproj
  client/kotlin/lib/build.gradle.kts
  client/python/pyproject.toml
  crates/assets/js/client/package.json
  crates/client/Cargo.toml
Due: kotlin_test

Build bundled GEOS only for release builds to speed up CI and dynamically linked builds.
  .github/workflows/release.yml
  .github/workflows/test.yml
  Cargo.toml
  Dockerfile
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
Due: none

Fix cross-platform builds after addiong GEOS dependency.
  .github/workflows/release.yml
  Dockerfile
  Dockerfile.ci
  client/kotlin/Makefile
Due: none

Make geos+litegis an optional build dependency for the core. Also remove wasm as a default feature to make breakages more apparent (also fixed an issue).
  .github/workflows/release.yml
  .pre-commit-config.yaml
  Cargo.lock
  Dockerfile
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/connection.rs
  crates/core/src/lib.rs
  crates/core/src/records/expand.rs
  crates/core/src/records/filter.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/params.rs
  crates/core/src/records/read_record.rs
Due: cargofmt, cargoclippy, cargotest
