Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Minor: fix some styling issues around admin UI headers and sidebar overflow.
  crates/assets/js/admin/src/components/Header.tsx
  crates/assets/js/admin/src/components/editor/EditorPage.tsx
  crates/assets/js/admin/src/components/settings/SettingsPage.tsx
  crates/assets/js/admin/src/components/tables/TablesPage.tsx
  crates/assets/js/admin/src/components/ui/sidebar.tsx
  crates/assets/js/admin/src/index.css
Due: none

Prepare new release v0.30.3.
  CHANGELOG.md
Due: none

Add dark mode to auth UI and fix styling of switcher in mobile mode in admin UI.
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/assets/js/admin/src/components/Navbar.tsx
  crates/assets/js/admin/src/components/auth/Totp.tsx
  crates/auth-ui/ui/package.json
  crates/auth-ui/ui/src/components/Card.astro
  crates/auth-ui/ui/src/components/Form.astro
  crates/auth-ui/ui/src/components/Profile.tsx
  crates/auth-ui/ui/src/components/ThemeSwitcher.tsx
  crates/auth-ui/ui/src/components/Totp.tsx
  crates/auth-ui/ui/src/components/ui/dropdown-menu.tsx
  crates/auth-ui/ui/src/index.css
  crates/auth-ui/ui/src/layouts/BaseLayout.astro
  crates/auth-ui/ui/src/lib/theme.ts
  crates/auth-ui/ui/src/pages/login.astro
  pnpm-lock.yaml
Due: none

Update Rust dependencies.
  Cargo.lock
Due: none

Prepare new release v0.30.4.
  CHANGELOG.md
Due: none

Minor: update screenshots to include dark mode.
  assets/screenshots.svg
  docs/src/assets/screenshots.webp
Due: none

Add a configurable anonymous-auth refresh-token TTL and allow negative refresh-token TTLs to disable expiry all together.
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/admin/src/components/FormFields.tsx
  crates/assets/js/admin/src/components/settings/AuthSettings.tsx
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
  crates/assets/js/admin/src/components/ui/number-field.tsx
  crates/core/proto/config.proto
  crates/core/src/auth/api/login_anonymous.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Add more form limits and test patterns.
  crates/assets/js/admin/src/components/FormFields.tsx
  crates/assets/js/admin/src/components/settings/AuthSettings.tsx
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
  crates/assets/js/admin/src/components/tables/InsertUpdateRow.tsx
  crates/assets/js/admin/tests/util.test.ts
Due: none

Update Rust dependencies.
  Cargo.lock
  crates/core/src/auth/tokens.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.30.5.
  CHANGELOG.md
Due: none

Make local cargo builds reproducible
  .cargo/config.toml
  .cargo/protoc-wrapper.sh
  .gitignore
  rust-toolchain.toml
Due: none

Add FastMCP TrailBase sidecar
  .gitignore
  README.md
  docker-compose.yml
  mcp/Dockerfile
  mcp/README.md
  mcp/pyproject.toml
  mcp/src/trailbase_mcp/__init__.py
  mcp/src/trailbase_mcp/client.py
  mcp/src/trailbase_mcp/server.py
  mcp/tests/test_client.py
Due: python_format, python_check, python_test

Document local build dependency bootstrap
  README.md
  scripts/bootstrap-local-dev-tools.sh
Due: none

Fix MCP admin CSRF handling
  mcp/README.md
  mcp/src/trailbase_mcp/client.py
  mcp/tests/test_client.py
  scripts/bootstrap-local-dev-tools.sh
Due: python_format, python_check, python_test

Support TrailBase config updates in MCP
  mcp/pyproject.toml
  mcp/src/trailbase_mcp/client.py
  mcp/src/trailbase_mcp/proto/__init__.py
  mcp/src/trailbase_mcp/proto/config_api_pb2.py
  mcp/src/trailbase_mcp/proto/config_pb2.py
  mcp/src/trailbase_mcp/server.py
  mcp/tests/test_client.py
Due: python_format, python_check, python_test

Add MCP schema modes and file uploads
  mcp/README.md
  mcp/src/trailbase_mcp/client.py
  mcp/src/trailbase_mcp/server.py
  mcp/tests/test_client.py
Due: python_format, python_check, python_test

Document TrailBase and MCP endpoint URLs
  mcp/README.md
Due: none

TS client minor: bind client later to deferred operations.
  crates/assets/js/client/src/record_api.ts
Due: none

Rust client: break up crate into multiple files.
  crates/client/src/client.rs
  crates/client/src/error.rs
  crates/client/src/lib.rs
  crates/client/src/record_api.rs
  crates/client/src/transport.rs
Due: cargofmt, cargoclippy, cargotest

Document Record API query parameters for MCP
  mcp/README.md
  mcp/tests/test_client.py
Due: python_format, python_check, python_test

Add generic TrailBase endpoint MCP tool
  mcp/README.md
  mcp/src/trailbase_mcp/client.py
  mcp/src/trailbase_mcp/server.py
  mcp/tests/test_client.py
Due: python_format, python_check, python_test

Expand MCP Docker Hub README
  mcp/README.md
Due: none

Use published MCP Docker image in docs
  mcp/README.md
Due: none

Support token files for MCP credentials
  mcp/README.md
  mcp/src/trailbase_mcp/client.py
  mcp/tests/test_client.py
Due: python_format, python_check, python_test

Document MCP token lifetime checks
  mcp/README.md
Due: none

Prefer Portainer token environment variable
  mcp/README.md
Due: none

Support login credentials for MCP auth
  mcp/README.md
  mcp/src/trailbase_mcp/client.py
  mcp/tests/test_client.py
Due: python_format, python_check, python_test

Add TrailBase OpenAPI operation catalog
  mcp/README.md
  mcp/src/trailbase_mcp/endpoints.py
  mcp/src/trailbase_mcp/server.py
  mcp/tests/test_client.py
Due: python_format, python_check, python_test

Prepare MCP 0.2 Docker release
  mcp/Dockerfile
  mcp/README.md
  mcp/pyproject.toml
Due: none

Document Record API table constraints
  mcp/README.md
  mcp/src/trailbase_mcp/client.py
  mcp/src/trailbase_mcp/server.py
  mcp/tests/test_client.py
Due: python_format, python_check, python_test

Clarify Portainer credential options
  mcp/README.md
Due: none

Add batch/transaction API to rust client. #260
  crates/client/src/client.rs
  crates/client/src/error.rs
  crates/client/src/record_api.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Dart client minor: break up further.
  client/dart/lib/src/client.dart
  client/dart/lib/src/record_api.dart
  client/dart/lib/src/record_id.dart
  client/dart/lib/src/token_state.dart
  client/dart/lib/src/tokens.dart
  client/dart/lib/src/user.dart
  client/dart/lib/trailbase.dart
Due: none

Dart client: fix token refresh.
  client/dart/lib/src/client.dart
  client/dart/lib/src/transport.dart
Due: none

Dart client: update dependencies.
  examples/blog/flutter/pubspec.yaml
  pubspec.lock
Due: none

Dart client: properly test token refresh after fix.
  client/dart/lib/src/client.dart
  client/dart/test/trailbase_test.dart
Due: none

Dart client: add batch/transaction support and prepare new release.
  client/dart/CHANGELOG.md
  client/dart/lib/src/client.dart
  client/dart/lib/src/operations.dart
  client/dart/lib/src/record_api.dart
  client/dart/lib/src/record_id.dart
  client/dart/pubspec.yaml
  client/dart/test/trailbase_test.dart
Due: none

Add batch/transactions to kotlin client.
  client/dart/lib/src/client.dart
  client/kotlin/gradle/libs.versions.toml
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Dart client: add header overrides back.
  client/dart/CHANGELOG.md
  client/dart/lib/src/transport.dart
  client/dart/pubspec.yaml
Due: none

Fix admin UI styling regression in table explorer.
  crates/assets/js/admin/src/components/ui/sidebar.tsx
Due: none

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
