Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Add a anonymous login test and password conversion.
  crates/assets/js/bindings/ChangePasswordRequest.ts
  crates/core/src/auth/api/change_password.rs
  crates/core/src/auth/api/login_anonymous.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

Revert `change_password` changes and add an explicit anonymous user promotion to account for identifier policy.
  client/testfixture/config.textproto
  crates/assets/js/bindings/PromoteAnonymousRequest.ts
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/api/promote_anonymous.rs
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/mod.rs
  crates/core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

Add an anonymous user cleanup.
  crates/core/proto/config.proto
  crates/core/src/auth/api/login_anonymous.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

De-tangle anonymous refresh token TTLs from "normal" refresh tokens.
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/login_anonymous.rs
Due: cargofmt, cargoclippy, cargotest

Add anonymous promotion to typescript client.
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/bindings/LoginAnonymousRequest.ts
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/core/src/auth/api/login_anonymous.rs
Due: cargofmt, cargoclippy, cargotest

Minor: anonymous user cleanup code into scheduler module.
  crates/core/src/auth/api/login_anonymous.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/api/promote_anonymous.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/constants.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Add anonymous auth to Dart client.
  client/dart/lib/src/client.dart
  client/dart/test/trailbase_test.dart
Due: none

Add anonymous login to kotlin client.
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Add anonymous auth to rust client.
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Add anonymous auth setting to admin UI.
  crates/assets/js/admin/src/components/settings/AuthSettings.tsx
Due: none

Add anonymous login to dotnet client.
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/Client.cs
Due: none

Add anonymous auth to go client.
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
Due: go_format, go_test

Add anonymous login to python.
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

Add anonymous login to Swift client.
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/core/src/auth/api/promote_anonymous.rs
  crates/core/src/auth/tokens.rs
Due: cargofmt, cargoclippy, cargotest, swift_format, swift_test

Install fake sendmail.
  .github/actions/setup_build/action.yml
Due: none

Fix email unset and PG tests.
  crates/core/migrations/pg_main/U5__username.sql
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/api/promote_anonymous.rs
  crates/core/src/auth/auth_test.rs
Due: cargofmt, cargoclippy, cargotest

Add a "copy CSV to clippboard" button to SQL editor.
  crates/assets/js/admin/src/components/editor/EditorPage.tsx
Due: none

Add a re-auth test for users after un-setting email.
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/util.rs
  crates/core/src/lib.rs
  crates/core/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies. WASIp3 now seems to be considered stable, which means we can start adopting it.
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
Due: none

Precent Tooltip triggers from triggering form submissions in admin UI.
  crates/assets/js/admin/src/components/ui/tooltip.tsx
Due: none

Prepare new release v0.29.0.
  .github/workflows/release.yml
  CHANGELOG.md
  Dockerfile
  client/testfixture/wasm/auth_ui_component.wasm
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
  crates/auth-ui/Makefile
  crates/cli/src/wasm.rs
  examples/blog/traildepot/wasm/auth_ui_component.wasm
  examples/blog/traildepot/wasm/trailbase_auth_ui_component.wasm
Due: cargofmt, cargoclippy, cargotest

Prepare new client releases (+anonymous auth).
  Cargo.lock
  Cargo.toml
  client/dart/CHANGELOG.md
  client/dart/pubspec.yaml
  client/dotnet/trailbase/TrailBase.csproj
  client/kotlin/Makefile
  client/kotlin/lib/build.gradle.kts
  client/python/pyproject.toml
  crates/assets/js/client/package.json
  crates/client/Cargo.toml
Due: kotlin_test

Fix spurious scrollbar on accounts page
  crates/assets/js/admin/src/App.tsx
  crates/assets/js/admin/src/components/accounts/AccountsPage.tsx
Due: none

Add WASM admin panel extensibility for modules
  crates/assets/js/admin/src/App.tsx
  crates/assets/js/admin/src/components/IndexPage.tsx
  crates/assets/js/admin/src/components/Navbar.tsx
  crates/assets/js/admin/src/components/wasm/WasmModuleSettingsPage.tsx
  crates/assets/js/admin/src/components/wasm/WasmModulesPage.tsx
  crates/assets/js/admin/src/lib/api/wasm-modules.ts
  crates/assets/js/bindings/ListWasmModulesResponse.ts
  crates/assets/js/bindings/WasmModuleEntry.ts
  crates/core/bindings/ListWasmModulesResponse.ts
  crates/core/bindings/WasmModuleEntry.ts
  crates/core/src/admin/mod.rs
  crates/core/src/admin/wasm_modules/list_wasm_modules.rs
  crates/core/src/admin/wasm_modules/mod.rs
  crates/core/src/app_state.rs
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-guest/src/auth.rs
  crates/wasm-runtime-guest/src/http.rs
  crates/wasm-runtime-guest/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Update auth documentation to talk about username & anonymous auth.
  docs/src/content/docs/documentation/auth.mdx
Due: none

Go back on sharing runtime state across invocations.
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Update custom-binary example to trigger migrations
  examples/custom-binary/src/main.rs
Due: cargofmt, cargoclippy, cargotest

chore: add web-dav dependency under a new feature
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
Due: none

feat: add /_/dav handlers under the webdav feature
  crates/core/proto/config.proto
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

feat: add WebDAV token section on Settings/Auth admin UI
  crates/assets/js/admin/src/components/settings/AuthSettings.tsx
Due: none

chore: update wasm on test fixture to include new settings config
  client/testfixture/wasm/trailbase_auth_ui_component.wasm
Due: none

chore: update config protobuf to edit the WebDAV token on the config UI
  crates/assets/js/admin/proto/config.ts
Due: none

Pull out `AppState` construction from server initialization, allow passing a custom router that gets merged into the server, update the `custom-binary` example, and remove divergent `api::serve`.
  crates/cli/src/bin/trail.rs
  crates/core/benches/benchmark.rs
  crates/core/src/app_state.rs
  crates/core/src/lib.rs
  crates/core/src/server/init.rs
  crates/core/src/server/mod.rs
  crates/core/tests/admin_permissions_test.rs
  crates/core/tests/integration_test.rs
  crates/core/tests/public_dir_spa_test.rs
  crates/core/tests/public_dir_test.rs
  crates/core/tests/tls_test.rs
  examples/custom-binary/src/main.rs
Due: cargofmt, cargoclippy, cargotest

Minor: cleanup admin router construction.
  crates/core/benches/benchmark.rs
  crates/core/src/server/mod.rs
  crates/core/tests/admin_permissions_test.rs
  crates/core/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Move `AppState` initialization closer to `AppState`.
  crates/cli/src/bin/trail.rs
  crates/core/benches/benchmark.rs
  crates/core/src/app_state.rs
  crates/core/src/init_error.rs
  crates/core/src/lib.rs
  crates/core/src/server/init.rs
  crates/core/src/server/mod.rs
  crates/core/tests/admin_permissions_test.rs
  crates/core/tests/integration_test.rs
  crates/core/tests/public_dir_spa_test.rs
  crates/core/tests/public_dir_test.rs
  crates/core/tests/tls_test.rs
  examples/custom-binary/src/main.rs
Due: cargofmt, cargoclippy, cargotest

Reduce argument redundancy after splitting `AppState` and `Server` initialization.
  crates/cli/src/bin/trail.rs
  crates/core/benches/benchmark.rs
  crates/core/src/server/mod.rs
  crates/core/tests/admin_permissions_test.rs
  crates/core/tests/integration_test.rs
  crates/core/tests/public_dir_spa_test.rs
  crates/core/tests/public_dir_test.rs
  crates/core/tests/tls_test.rs
  examples/custom-binary/src/main.rs
Due: cargofmt, cargoclippy, cargotest

Update dependencies.
  Cargo.lock
  crates/core/Cargo.toml
  crates/extension/Cargo.toml
  crates/extension/src/geoip.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.30.0.
  CHANGELOG.md
Due: none

Move WASM-Axum setup into a separate crate.
  Cargo.lock
  Cargo.toml
  crates/cli/Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/wasm/mod.rs
  crates/wasm-runtime-axum/Cargo.toml
  crates/wasm-runtime-axum/examples/standalone.rs
  crates/wasm-runtime-axum/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
