Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Add more KMP platform targets to Kotlin client to satisfy default CMP templates (especially iosSimulator, js, wasmJs).
  client/kotlin/lib/build.gradle.kts
Due: kotlin_test

Update Rust dependencies.
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/tests/admin_permissions_test.rs
  crates/core/tests/integration_test.rs
  crates/core/tests/public_dir_spa_test.rs
  crates/core/tests/public_dir_test.rs
  crates/extension/Cargo.toml
  crates/schema/Cargo.toml
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.24.4.
  CHANGELOG.md
Due: none

Remove hard-coded auth UI urls from auth APIs and consistently rely on redirect_uri.
  crates/assets/js/bindings/ChangeEmailRequest.ts
  crates/assets/js/bindings/ChangePasswordRequest.ts
  crates/assets/js/client/tests/integration/auth_integration.test.ts
  crates/auth-ui/src/lib.rs
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/change_password.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/logout.rs
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/api/reset_password.rs
  crates/core/src/auth/api/verify_email.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/login_params.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/login.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/auth/oauth/state.rs
  crates/core/src/auth/util.rs
Due: cargofmt, cargoclippy, cargotest

Use JWTs for password resets rather than DB codes.
  crates/assets/templates/default_email_reset_password_body.html
  crates/auth-ui/src/lib.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/reset_password.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/user.rs
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Use JWTs for change email and email verification.
  crates/assets/js/bindings/UserJson.ts
  crates/core/src/admin/user/create_user.rs
  crates/core/src/admin/user/list_users.rs
  crates/core/src/auth/api/change_email.rs
  crates/core/src/auth/api/register.rs
  crates/core/src/auth/api/verify_email.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/jwt.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/user.rs
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Add migration to remove now unused `_user` columns.
  crates/core/migrations/main/U4__totp.sql
  crates/core/src/migrations.rs
Due: cargofmt, cargoclippy, cargotest

Add a separate `session.db` to hold ephemeral/session-like data to make it harder to leak and allow simply dropping all session data.
  crates/core/src/app_state.rs
  crates/core/src/config.rs
  crates/core/src/connection.rs
  crates/core/src/data_dir.rs
  crates/core/src/migrations.rs
  crates/core/src/server/init.rs
Due: cargofmt, cargoclippy, cargotest

Add OTP auth flows: request code + login. Also add corresponding UIs to both admin UI and `auth-ui` crate.
  client/testfixture/config.textproto
  client/testfixture/migrations/main/U1725019361__add_users.sql
  client/testfixture/wasm/auth_ui_component.wasm
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/bindings/LoginOtpRequest.ts
  crates/assets/js/bindings/RequestOtpRequest.ts
  crates/assets/js/bindings/VerifyOTPRequest.ts
  crates/assets/js/client/src/index.ts
  crates/assets/templates/default_email_otp_body.html
  crates/assets/templates/default_email_otp_subject.txt
  crates/auth-ui/src/auth.rs
  crates/auth-ui/src/lib.rs
  crates/auth-ui/ui/src/components/Profile.tsx
  crates/auth-ui/ui/src/components/Totp.tsx
  crates/auth-ui/ui/src/components/ui/dropdown-menu.tsx
  crates/auth-ui/ui/src/pages/login.astro
  crates/auth-ui/ui/src/pages/otp/login.astro
  crates/auth-ui/ui/src/pages/otp/request.astro
  crates/core/migrations/session/V1__initial.sql
  crates/core/proto/config.proto
  crates/core/src/app_state.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/mod.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/api/reset_password.rs
  crates/core/src/auth/api/token.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/error.rs
  crates/core/src/auth/mod.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/constants.rs
  crates/core/src/email.rs
  crates/core/src/scheduler.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Dart client: add two-factor and OTP login support.
  client/dart/lib/src/client.dart
  client/dart/pubspec.yaml
  client/dart/test/trailbase_test.dart
  pubspec.lock
Due: none

Swift client: add two-factor and OTP login support.
  client/swift/trailbase/Package.resolved
  client/swift/trailbase/Package.swift
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
Due: swift_format, swift_test

Rust client: add two-factor and OTP login support.
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
  crates/core/src/auth/api/otp.rs
Due: cargofmt, cargoclippy, cargotest

Dotnet client: add two-factor and OTP login support.
  client/dotnet/test/ClientTest.cs
  client/dotnet/test/TrailBase.Tests.csproj
  client/dotnet/trailbase/Client.cs
  client/dotnet/trailbase/Makefile
  client/dotnet/trailbase/TrailBase.csproj
Due: none

TypeScript client: Remove callback-based two-factor login API and add tests.
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/client/package.json
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  pnpm-lock.yaml
Due: none

Move session data into a separate DB.
  crates/cli/src/bin/trail.rs
  crates/core/migrations/session/V1__initial.sql
  crates/core/src/app_state.rs
  crates/core/src/auth/api/delete.rs
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/logout.rs
  crates/core/src/auth/api/token.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/cli.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/util.rs
  crates/core/src/connection.rs
  crates/core/src/lib.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Move authorization_codes into session DB.
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/api/token.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/user.rs
  crates/core/src/constants.rs
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Kotlin client: add two-factor and OTP login support.
  client/kotlin/gradle/libs.versions.toml
  client/kotlin/lib/build.gradle.kts
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Python client: add two-factor and OTP login support
  client/python/pyproject.toml
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

Add a OTP sign-up config setting to admin UI and update email template parameters.
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/admin/src/components/settings/AuthSettings.tsx
  crates/assets/js/admin/src/components/settings/EmailSettings.tsx
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Go client: add two-factor and OTP login support.
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/go.mod
  client/go/trailbase/go.sum
  client/go/trailbase/thin_client.go
Due: go_format, go_test

Quality-of-life: log emails to terminal in dev mode.
  crates/core/src/auth/api/otp.rs
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Major Rusqlite version update.
  .gitmodules
  Cargo.lock
  Cargo.toml
  crates/extension/Cargo.toml
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Minor: disable auto-complete for OTP/TOTP input UIs.
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/auth-ui/ui/src/components/Totp.tsx
Due: none

Format DB sizes with only one kind of exponential, e.g. 2TiB. #220
  crates/assets/js/admin/src/components/IndexPage.tsx
Due: none

Prepare new release v0.25.0.
  CHANGELOG.md
Due: none

Add subscription support to Go client.
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/record_api.go
Due: go_format, go_test

Follow-up cleanup s/login2nd/loginSecond/.
  client/dart/lib/src/client.dart
  client/dart/test/trailbase_test.dart
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  crates/assets/js/admin/src/components/auth/LoginPage.tsx
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
Due: kotlin_test

Prepare new client releases.
  Cargo.lock
  Cargo.toml
  client/dart/CHANGELOG.md
  client/dart/pubspec.yaml
  client/dotnet/trailbase/TrailBase.csproj
  client/kotlin/lib/build.gradle.kts
  client/python/pyproject.toml
  client/python/tests/test_client.py
  crates/assets/js/client/package.json
  crates/client/Cargo.toml
Due: python_format, python_check, python_test, kotlin_test

Update docs to astro6 and update JS dependencies.
  .github/workflows/release.yml
  .github/workflows/test.yml
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/eslint.config.mjs
  crates/assets/js/admin/package.json
  crates/assets/js/client/package.json
  crates/auth-ui/ui/eslint.config.mjs
  crates/auth-ui/ui/package.json
  docs/eslint.config.mjs
  docs/examples/record_api_ts/package.json
  docs/examples/wasm-guest-ts/package.json
  docs/openapi/schema.json
  docs/package.json
  docs/src/components/blog/PostItem.astro
  docs/src/content.config.ts
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/rss.xml.ts
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
Due: none

Update to vite8.
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/client/package.json
  docs/examples/wasm-guest-ts/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
Due: none

Add GitHub OAuth provider (validated) and fix OAutch callback cookie strictness: i.e. require secure/TLS for HTTPS sites in prod mode.
  client/testfixture/wasm/auth_ui_component.wasm
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/admin/proto/config_api.ts
  crates/assets/js/admin/proto/google/protobuf/descriptor.ts
  crates/assets/js/admin/proto/metadata.ts
  crates/assets/js/admin/proto/vault.ts
  crates/assets/js/admin/src/components/settings/AuthSettings.tsx
  crates/assets/js/shared/assets/oauth2/github.svg
  crates/core/proto/config.proto
  crates/core/src/app_state.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/login.rs
  crates/core/src/auth/oauth/providers/github.rs
  crates/core/src/auth/oauth/providers/mod.rs
  crates/core/src/auth/util.rs
  crates/core/src/email.rs
Due: cargofmt, cargoclippy, cargotest

Stable OAuth provider order and more resilient cookie overriding.
  crates/core/src/auth/oauth/providers/mod.rs
  crates/core/src/auth/options.rs
  crates/core/src/auth/util.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  crates/wasm-runtime-guest/Cargo.toml
Due: none

Consistently set cookie `same_site` policy across prod and dev mode and `secure` policy (i.e. tls-only) based on dev-mode *and* site url.
  crates/core/src/auth/api/login.rs
  crates/core/src/auth/oauth/callback.rs
  crates/core/src/auth/oauth/login.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/util.rs
Due: cargofmt, cargoclippy, cargotest

Minor quality-of-life improvement: trim OAuth client id/secret in UI and check for whitespaces on the backend.
  crates/assets/js/admin/src/components/settings/AuthSettings.tsx
  crates/core/src/config.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.25.1.
  CHANGELOG.md
Due: none

Add NLnet funding information to project README.md 🙏.
  README.md
Due: none

TS client: Break up files, add a vite build step and allow injecting a custom `Transport` interface. #222
  crates/assets/js/admin/src/components/auth/Totp.tsx
  crates/assets/js/client/bindings
  crates/assets/js/client/package.json
  crates/assets/js/client/src/client.ts
  crates/assets/js/client/src/constants.ts
  crates/assets/js/client/src/index.ts
  crates/assets/js/client/src/json.ts
  crates/assets/js/client/src/record_api.ts
  crates/assets/js/client/src/transport.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
  crates/assets/js/client/tests/unit.test.ts
  crates/assets/js/client/tsconfig.json
  crates/assets/js/client/vite.config.ts
  crates/assets/js/client/vitest.config.ts
  crates/auth-ui/ui/src/components/Totp.tsx
  pnpm-lock.yaml
Due: none

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
