Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Merge PG shims and remove no longer needed, non-sensical ones.
  crates/core/migrations/pg_main/U1__shims.sql
  crates/core/migrations/pg_main/U2__users.sql
  crates/core/migrations/pg_main/U3__file_deletions.sql
  crates/core/src/records/read_record.rs
Due: cargofmt, cargoclippy, cargotest

Remove wonky `conditionally_transform_query` test helper in favor of explicit queries.
  crates/core/src/records/create_record.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/test_utils.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/update_record.rs
  crates/core/src/schema_metadata.rs
  crates/core/src/test_utils.rs
Due: cargofmt, cargoclippy, cargotest

Fix periodic pending file deletion cleanup.
  crates/core/src/scheduler.rs
Due: cargofmt, cargoclippy, cargotest

Fix `auth::api::avatar::tests::test_avatar_upload`.
  crates/core/migrations/pg_main/U1__shims.sql
  crates/core/migrations/pg_main/U2__users.sql
  crates/core/src/auth/api/avatar.rs
  crates/core/src/schema_metadata.rs
  crates/core/templates/create_or_replace_record_query.sql
Due: cargofmt, cargoclippy, cargotest

Fix `records::expand::tests::test_read_rows`.
  crates/core/src/records/expand.rs
  crates/sqlite/src/pg/util.rs
Due: cargofmt, cargoclippy, cargotest

Fix `records::list_records::tests::test_list_records_template_with_expansions`.
  crates/core/src/records/list_records.rs
Due: cargofmt, cargoclippy, cargotest

Add support for `String <=> JSON/JSONB` conversion and file deletion/update triggers on PG.
  Cargo.lock
  crates/core/src/schema_metadata.rs
  crates/sqlite/Cargo.toml
  crates/sqlite/src/generic.rs
  crates/sqlite/src/pg/value.rs
Due: cargofmt, cargoclippy, cargotest

Change `?N` params to `$N` and avoid using rowids in file deletions due to BIGINT <=> TID mismatch.
  crates/core/src/admin/rows/delete_rows.rs
  crates/core/src/auth/api/avatar.rs
  crates/core/src/auth/cli.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/files.rs
  crates/core/src/records/read_record.rs
  crates/core/src/server/init.rs
  crates/core/src/transaction_recorder.rs
  crates/core/templates/read_record_query.sql
  crates/core/templates/read_record_query_expanded.sql
Due: cargofmt, cargoclippy, cargotest

Extract `CHECK(jsonschema(...))` for PG.
  crates/core/migrations/pg_main/U1__shims.sql
  crates/core/src/records/create_record.rs
  crates/core/src/records/read_record.rs
  crates/core/src/schema_metadata.rs
  crates/pg-schema/src/table.rs
  crates/schema/src/metadata.rs
Due: cargofmt, cargoclippy, cargotest

Fix constraint extraction for non PK columns and extract `CHECK` clauses.
  crates/pg-schema/src/table.rs
Due: cargofmt, cargoclippy, cargotest

Fix `admin::delete_rows` test.
  crates/core/src/admin/rows/delete_rows.rs
  crates/schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Fix named_parameters when they're prefixes of each other.
  crates/sqlite/src/pg/util.rs
Due: cargofmt, cargoclippy, cargotest

Make simple file deletion test pass.
  crates/core/migrations/pg_main/U3__file_deletions.sql
  crates/core/src/records/files.rs
  crates/core/src/schema_metadata.rs
Due: cargofmt, cargoclippy, cargotest

Fix `admin::rows::list_rows::tests::test_fetch_rows`.
  crates/core/src/admin/rows/list_rows.rs
Due: cargofmt, cargoclippy, cargotest

Disable custom schema test for PG.
  crates/core/src/records/expand.rs
  crates/core/src/records/read_record.rs
Due: cargofmt, cargoclippy, cargotest

Disable tests that are well known to now work with Postgres.
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/lib.rs
  crates/core/src/migrations.rs
  crates/core/src/test_utils.rs
  crates/core/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Minor: make the linter happy.
  crates/core/src/records/write_queries.rs
  crates/sqlite/src/pg/value.rs
Due: cargofmt, cargoclippy, cargotest

Disable tests with `geos` + `pg` since pglite-oxide does not support PostGIS.
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/core/src/test_utils.rs
Due: cargofmt, cargoclippy, cargotest

Fix `core::integration_test`.
  crates/core/migrations/pg_main/U1__shims.sql
  crates/core/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Fix schema crate tests.
  crates/schema/src/metadata.rs
  crates/schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Add new `pg-test` feature and allow configurable wiring in `pg` mode.
  crates/cli/src/bin/trail.rs
  crates/core/Cargo.toml
  crates/core/src/admin/rows/list_rows.rs
  crates/core/src/config.rs
  crates/core/src/connection.rs
  crates/core/src/records/expand.rs
  crates/core/src/server/mod.rs
Due: cargofmt, cargoclippy, cargotest

Add `ConflictResolutionStratey::Ignore` back with tests.
  crates/assets/js/admin/proto/config.ts
  crates/assets/js/admin/src/components/tables/RecordApiSettings.tsx
  crates/core/proto/config.proto
  crates/core/src/records/transaction.rs
  crates/core/src/records/write_queries.rs
  crates/core/templates/create_or_replace_record_query.sql
Due: cargofmt, cargoclippy, cargotest

Wire `pg_uri` through and set up pglite for integration test.
  crates/core/src/connection.rs
  crates/core/src/server/init.rs
  crates/core/src/server/mod.rs
  crates/core/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Allow SQLite and Postgres connections to co-exist in the same build. Previously a binary was compiled for one or the other.
  crates/core/Cargo.toml
  crates/core/src/admin/rows/delete_rows.rs
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/admin/rows/list_rows.rs
  crates/core/src/admin/user/list_users.rs
  crates/core/src/app_state.rs
  crates/core/src/auth/api/avatar.rs
  crates/core/src/connection.rs
  crates/core/src/constants.rs
  crates/core/src/migrations.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/expand.rs
  crates/core/src/records/files.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/mod.rs
  crates/core/src/records/test_utils.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/update_record.rs
  crates/core/src/records/write_queries.rs
  crates/core/src/scheduler.rs
  crates/core/src/schema_metadata.rs
  crates/core/src/server/mod.rs
  crates/core/src/test_utils.rs
  crates/core/src/util.rs
  crates/core/tests/integration_test.rs
  crates/schema/Cargo.toml
  crates/schema/src/metadata.rs
  crates/schema/src/sqlite.rs
  crates/sqlite/src/generic.rs
  crates/sqlite/src/pg/sync.rs
  crates/sqlite/src/sqlite/sync.rs
  crates/sqlite/src/sqlite/transaction.rs
  crates/sqlite/src/traits.rs
  crates/sqlite/src/type.rs
Due: cargofmt, cargoclippy, cargotest

Add a CI workflow for running tests with postgres DB.
  .github/workflows/test.yml
Due: none

Add `--experimental-pg` command-line flag, connection-dependent config validation, and simplify feature branching.
  crates/cli/src/args.rs
  crates/cli/src/bin/trail.rs
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/admin/table/list_tables.rs
  crates/core/src/config.rs
  crates/core/src/connection.rs
  crates/core/src/constants.rs
  crates/core/src/migrations.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/validate.rs
  crates/core/src/schema_metadata.rs
  crates/pg-schema/src/table.rs
  crates/sqlite/src/pg/executor.rs
Due: cargofmt, cargoclippy, cargotest

Admin UI: disable multi-DB, schema alteration & JSON schema UI elements in Postgres mode.
  crates/assets/js/admin/src/components/settings/DatabaseSettings.tsx
  crates/assets/js/admin/src/components/settings/SchemaSettings.tsx
  crates/assets/js/admin/src/components/settings/SettingsPage.tsx
  crates/assets/js/admin/src/components/tables/TablePane.tsx
  crates/assets/js/admin/src/components/tables/TablesPage.tsx
  crates/assets/js/admin/src/lib/api/info.ts
  crates/assets/js/bindings/InfoResponse.ts
  crates/core/src/admin/info.rs
Due: cargofmt, cargoclippy, cargotest

Minor: avoid leaky dependency on `rusqlite::Error::QueryReturnedNoRows`.
  crates/core/src/records/error.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/write_queries.rs
  crates/sqlite/src/error.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
  Cargo.toml
  crates/extension/Cargo.toml
  examples/collab-clicker-ssr/guests/rust/Cargo.toml
Due: none

Enable "pg" feature in default CLI builds.
  Cargo.toml
Due: none

Prepare new release v0.28.0.
  CHANGELOG.md
Due: none

Enable "pg" feature in default CLI and CI builds.
  .pre-commit-config.yaml
  Cargo.toml
  crates/core/src/admin/table/list_tables.rs
  crates/core/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Downgrade Wasmtime v45 => v44.
  Cargo.lock
  Cargo.toml
Due: none

Add missing postcss config for blog example.
  CHANGELOG.md
  examples/blog/web/postcss.config.mjs
Due: none

Minor: update docs and readme to at least mention Postgres.
  README.md
  docs/src/components/layout/Hero.astro
Due: none

feat[client]: implement null/isnull filters for clients
  client/dart/lib/src/client.dart
  client/dart/test/trailbase_test.dart
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/RecordApi.cs
  client/dotnet/trailbase/TrailBase.csproj
  client/go/trailbase/record_api.go
  client/go/trailbase/record_api_test.go
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
  client/swift/trailbase/Sources/TrailBase/TrailBase.swift
  client/swift/trailbase/Tests/TrailBaseTests/TrailBaseTests.swift
  crates/assets/js/client/src/record_api.ts
  crates/assets/js/client/tests/unit.test.ts
  crates/client/src/lib.rs
Due: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Add a CI task for building with the minimal feature set.
  .github/workflows/test.yml
Due: none

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
