Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*

TS Client: s/ErrorEvent/ErrorChangeEvent to avoid DOM naming collision.
  crates/assets/js/client/src/record_api.ts
Due: none

Allow concurrent `SELECT`s from WASM guests, while still allowing the use of `ATTACH/DETACH DATABASE`. #221
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/schema/Cargo.toml
  crates/schema/src/sqlite.rs
  crates/sqlite/src/connection.rs
  crates/sqlite/src/rows.rs
  crates/sqlite/src/tests.rs
  crates/wasm-runtime-host/Cargo.toml
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Stricter request `Content-Type` handling. Some preparations for multiple response content-types.
  crates/core/src/extract/content_type.rs
  crates/core/src/extract/either.rs
  crates/core/src/extract/mod.rs
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.25.3.
  CHANGELOG.md
Due: none

Add debug-build JSON schema validation to records create/update/list.
  client/dart/test/trailbase_test.dart
  crates/core/src/records/create_record.rs
  crates/core/src/records/list_records.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/update_record.rs
  crates/schema/src/file.rs
  crates/schema/src/json_schema.rs
  crates/schema/src/registry.rs
Due: cargofmt, cargoclippy, cargotest

Fix JSON schemas for foreign keys and nullable JSON objects.
  crates/core/src/records/json_schema.rs
  crates/core/src/records/read_record.rs
  crates/core/src/schema_metadata.rs
  crates/schema/src/json_schema.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust dependencies.
  Cargo.lock
Due: none

Add a sequence number to SSE events.
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

WIP: reduce copies.
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

WIP: fix rust client.
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

PoC: new DBEvent encoding.
  crates/core/src/records/event.rs
  crates/core/src/records/mod.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Dart client: move to new change event representation.
  client/dart/lib/src/sse.dart
  client/dart/lib/src/transport.dart
  client/dart/lib/trailbase.dart
Due: none

TS client: move to new event representation and make API more typed.
  crates/assets/js/client/src/record_api.ts
  crates/assets/js/client/tests/integration/client_integration.test.ts
Due: none

Fix ws, use new event representation in client and opportunistic cleanups.
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
  crates/core/src/records/event.rs
  crates/core/src/records/subscribe.rs
  docs/examples/record_api_rs/src/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Python client: parse change events based on new representation.
  client/python/tests/test_client.py
  client/python/trailbase/__init__.py
Due: python_format, python_check, python_test

Use new change event representation.
  crates/core/src/records/event.rs
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

PoC: allow sharing payloads across events.
  Cargo.toml
  crates/core/src/records/event.rs
Due: cargofmt, cargoclippy, cargotest

Go client: move to new change event representation.
  client/go/trailbase/client.go
  client/go/trailbase/client_test.go
  client/go/trailbase/event.go
Due: go_format, go_test

Dotnet client: move to new change event representation.
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/RecordApi.cs
Due: none

Kotlin client: move to new change event representation.
  client/kotlin/Makefile
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Change new Event representation to be less dependent on Rust and serde idiomatics.
  crates/core/src/records/event.rs
Due: cargofmt, cargoclippy, cargotest

Fix builds for Rust client's `ws` feature.
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/client/src/lib.rs
  crates/core/src/extract/either.rs
Due: cargofmt, cargoclippy, cargotest

Switch back from internally tagged to externally tagged change event representation.
  client/dart/lib/src/sse.dart
  client/dart/lib/src/transport.dart
  client/dart/lib/trailbase.dart
  crates/client/src/lib.rs
  crates/client/tests/integration_test.rs
  crates/core/src/records/event.rs
  crates/core/src/records/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Add a stress test for subscriptions.
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/tests/integration_test.rs
  crates/core/src/server/mod.rs
  crates/core/src/server/serve.rs
Due: cargofmt, cargoclippy, cargotest

Break up record api subscriptions into multiple files.
  crates/core/src/app_state.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/subscribe.rs
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/mod.rs
  crates/core/src/records/subscribe/subscribe.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

WIP
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/mod.rs
  crates/core/src/records/subscribe/subscribe.rs
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Make the tests pass.
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/subscribe.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Simplify locking setup.
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/subscribe.rs
Due: cargofmt, cargoclippy, cargotest

Break up into more files.
  crates/core/src/app_state.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/mod.rs
  crates/core/src/records/subscribe/state.rs
Due: cargofmt, cargoclippy, cargotest
