Repository trailbaseio/trailbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargofmt, cargoclippy, cargotest, python_format, python_check, python_test, swift_format, swift_test, go_format, go_test, kotlin_test

cargofmt:
  name: Cargo Format
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false

cargoclippy:
  name: Cargo Clippy
  verbose: true
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo clippy --workspace --no-deps'
  language: system
  pass_filenames: false

cargotest:
  name: Cargo Test
  entry: sh -c 'pnpm i --frozen-lockfile --prefer-offline && PNPM_OFFLINE=TRUE cargo test --workspace -- --show-output'
  language: system
  pass_filenames: false

python_format:
  name: Python format
  entry: poetry -C client/python run black --config pyproject.toml --check .
  language: system
  pass_filenames: false

python_check:
  name: Python check
  entry: sh -c 'poetry -C client/python run pyright --outputjson && poetry -C client/python run flake8'
  language: system
  pass_filenames: false

python_test:
  name: Python test
  entry: poetry -C client/python run pytest
  language: system
  pass_filenames: false

swift_format:
  name: Swift format
  entry: swift format -r --in-place client/swift/trailbase/**/*.swift
  language: system
  pass_filenames: false

swift_test:
  name: Swift test
  entry: swift test --package-path client/swift/trailbase
  language: system
  pass_filenames: false

go_format:
  name: Go format
  entry: sh -c 'DIFF=$(gofmt -d -e client/go/trailbase/) && echo "${DIFF}" && test -z "${DIFF}"'
  language: system
  pass_filenames: false

go_test:
  name: Go test
  entry: sh -c 'cd client/go/trailbase && go test -v'
  language: system
  pass_filenames: false

kotlin_test:
  name: Kotlin test
  entry: sh -c 'cd client/kotlin && ./gradlew test'
  language: system
  pass_filenames: false

Break up record api subscriptions into multiple files.
  crates/core/src/app_state.rs
  crates/core/src/records/mod.rs
  crates/core/src/records/subscribe.rs
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/mod.rs
  crates/core/src/records/subscribe/subscribe.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Add a stress test for subscriptions.
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/tests/integration_test.rs
  crates/core/src/server/mod.rs
  crates/core/src/server/serve.rs
Due: cargofmt, cargoclippy, cargotest

C#/Dotnet Client: support new ErrorEvent format with programmatic status and add sequence numbers.
  client/dotnet/test/ClientTest.cs
  client/dotnet/trailbase/RecordApi.cs
Due: none

Switch ErrorEvent statuses to an integer representation and update Dart client to support it as well as sequence numbers.
  Cargo.lock
  client/dart/lib/src/sse.dart
  client/dart/test/unit_test.dart
  crates/core/Cargo.toml
  crates/core/src/records/subscribe/event.rs
Due: cargofmt, cargoclippy, cargotest

Fix WASM "ATTACH DATABASE" and sqlite error unpacking. #221
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/sqlite/src/connection.rs
  crates/wasm-runtime-guest/src/db.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Simplify the brokering logic and locking.
  crates/core/src/app_state.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/mod.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/subscribe.rs
  crates/core/src/records/subscribe/tests.rs
  crates/sqlite/src/connection.rs
Due: cargofmt, cargoclippy, cargotest

Massively overhaul change event execution model.
  crates/core/src/records/filter.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/event.rs
  crates/core/src/records/subscribe/handler.rs
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/manager.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/tests.rs
Due: cargofmt, cargoclippy, cargotest

Go client: support structured change event errors and sequence numbers.
  client/go/trailbase/client.go
  client/go/trailbase/event.go
  client/go/trailbase/record_api_test.go
Due: go_format, go_test

TS client: add an `onLoss` callback option to trigger some response to event loss.
  crates/assets/js/client/src/record_api.ts
Due: none

Dart client: add more event decoding tests.
  client/dart/test/unit_test.dart
Due: none

Prepare new release v0.26.0.
  CHANGELOG.md
  crates/core/src/records/subscribe/handler.rs
Due: cargofmt, cargoclippy, cargotest

Rust client: support programmatic change event error statuses.
  Cargo.lock
  crates/client/Cargo.toml
  crates/client/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Kotlin client: add support for programmatic change event errors.
  client/kotlin/lib/src/commonMain/kotlin/Library.kt
  client/kotlin/lib/src/jvmTest/kotlin/LibraryTest.kt
Due: kotlin_test

Prepare client releases.
  Cargo.lock
  Cargo.toml
  client/dart/CHANGELOG.md
  client/dart/pubspec.yaml
  client/dotnet/trailbase/TrailBase.csproj
  client/kotlin/Makefile
  client/kotlin/lib/build.gradle.kts
  client/python/pyproject.toml
  crates/assets/js/client/package.json
  crates/client/Cargo.toml
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest, kotlin_test

Add an allowlist for custom auth redirects.
  crates/core/proto/config.proto
  crates/core/src/auth/util.rs
Due: cargofmt, cargoclippy, cargotest

Fix migration filename and named placeholder construction to work for any unicode character.
  crates/assets/js/admin/src/components/tables/TablesPage.tsx
  crates/core/src/records/mod.rs
  crates/core/src/records/params.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/util.rs
  crates/core/templates/create_record_access_query.sql
  crates/core/templates/create_record_query.sql
  crates/core/templates/subscription_record_read.sql
  crates/core/templates/update_record_access_query.sql
  crates/core/templates/update_record_query.sql
  crates/schema/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Update Rust and JS dependencies.
  Cargo.lock
  client/testfixture/guests/typescript/package.json
  crates/assets/js/admin/package.json
  crates/assets/js/client/package.json
  crates/auth-ui/ui/package.json
  docs/examples/record_api_ts/package.json
  docs/examples/wasm-guest-ts/package.json
  docs/package.json
  examples/blog/web/package.json
  examples/coffee-vector-search/guests/typescript/package.json
  examples/coffee-vector-search/package.json
  examples/collab-clicker-ssr/guests/typescript/package.json
  examples/collab-clicker-ssr/package.json
  examples/data-cli-tutorial/package.json
  examples/tanstack-db-sync/package.json
  examples/wasm-guest-js/package.json
  examples/wasm-guest-ts/package.json
  guests/typescript/package.json
  pnpm-lock.yaml
Due: none

Prepare new release v0.26.1.
  CHANGELOG.md
Due: none

Fork and streamline reactivate.
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/app_state.rs
  crates/core/src/records/subscribe/manager.rs
  crates/reactive/.gitignore
  crates/reactive/Cargo.toml
  crates/reactive/src/lib.rs
  crates/reactive/src/macros.rs
  crates/reactive/src/merge.rs
  crates/reactive/src/reactive.rs
  crates/reactive/tests/lib_tests.rs
Due: cargofmt, cargoclippy, cargotest

Use RwLock for reactive values.
  crates/reactive/src/macros.rs
  crates/reactive/src/reactive.rs
Due: cargofmt, cargoclippy, cargotest

Add Sync and remove inplace update.
  crates/reactive/src/macros.rs
  crates/reactive/src/merge.rs
  crates/reactive/src/reactive.rs
Due: cargofmt, cargoclippy, cargotest

Use ArcSwap.
  Cargo.lock
  crates/reactive/Cargo.toml
  crates/reactive/src/macros.rs
  crates/reactive/src/reactive.rs
Due: cargofmt, cargoclippy, cargotest

Return `Arc<Config>` from `AppState::get_config()`.
  crates/cli/src/bin/trail.rs
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/admin/table/drop_table.rs
  crates/core/src/app_state.rs
  crates/core/src/records/subscribe/tests.rs
  crates/core/src/records/test_utils.rs
  crates/core/tests/integration_test.rs
Due: cargofmt, cargoclippy, cargotest

Reduce locking during config access in reactivity library - use ArcSwap instead - and use it downstream.
  Cargo.lock
  crates/cli/src/bin/trail.rs
  crates/core/src/admin/table/alter_table.rs
  crates/core/src/admin/table/drop_table.rs
  crates/core/src/app_state.rs
  crates/core/src/auth/util.rs
  crates/core/src/email.rs
  crates/core/src/records/subscribe/tests.rs
  crates/core/src/records/test_utils.rs
  crates/core/tests/integration_test.rs
  crates/reactive/Cargo.toml
  crates/reactive/src/macros.rs
  crates/reactive/src/merge.rs
  crates/reactive/src/reactive.rs
  crates/reactive/tests/lib_tests.rs
Due: cargofmt, cargoclippy, cargotest

Remove unsafe query construction from WASM guest examples and add a safe string-literal construction utility to guest runtimes.
  Cargo.lock
  crates/sqlvalue/src/lib.rs
  crates/wasm-runtime-guest/src/db.rs
  examples/wasm-guest-js/src/index.js
  examples/wasm-guest-rust/Cargo.toml
  examples/wasm-guest-rust/src/lib.rs
  examples/wasm-guest-ts/src/index.ts
  guests/typescript/src/db/index.ts
  guests/typescript/src/db/value.ts
  guests/typescript/tests/runtime.test.ts
Due: cargofmt, cargoclippy, cargotest

Prepare new release v0.26.2.
  CHANGELOG.md
Due: none

WIP: trailbase_sqlite gets its own Value/ValueRef types.
  crates/sqlite/src/connection.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/params.rs
  crates/sqlite/src/to_sql.rs
  crates/sqlite/src/value.rs
Due: cargofmt, cargoclippy, cargotest

Introduce our own `Value`/`ValueRef` types to `trailbase_sqlite`. This is generally good practice but also a pre-requisite if we ever wanted to support other DBs.
  Cargo.lock
  crates/core/benches/benchmark.rs
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/auth/api/avatar.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/expand.rs
  crates/core/src/records/filter.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/write_queries.rs
  crates/core/src/schema_metadata.rs
  crates/schema/Cargo.toml
  crates/schema/src/json.rs
  crates/sqlite/Cargo.toml
  crates/sqlite/benches/synthetic/benchmark.rs
  crates/sqlite/benches/synthetic/connection.rs
  crates/sqlite/src/connection.rs
  crates/sqlite/src/error.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/params.rs
  crates/sqlite/src/rows.rs
  crates/sqlite/src/sqlite.rs
  crates/sqlite/src/tests.rs
  crates/sqlite/src/to_sql.rs
  crates/sqlite/src/value.rs
  crates/sqlvalue/Cargo.toml
  crates/sqlvalue/src/lib.rs
  crates/wasm-runtime-host/src/host.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Stop leaking `rusqlite::types::Value` and use `trailbase_sqlite::Value`. This is generally good practice but also a pre-requisite if we ever wanted to support other DBs.
  Cargo.lock
  crates/core/benches/benchmark.rs
  crates/core/src/admin/rows/insert_row.rs
  crates/core/src/auth/api/avatar.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/expand.rs
  crates/core/src/records/filter.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/transaction.rs
  crates/core/src/records/write_queries.rs
  crates/schema/Cargo.toml
  crates/schema/src/json.rs
  crates/sqlite/Cargo.toml
  crates/sqlite/benches/synthetic/benchmark.rs
  crates/sqlite/benches/synthetic/connection.rs
  crates/sqlite/src/connection.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/params.rs
  crates/sqlite/src/rows.rs
  crates/sqlite/src/sqlite.rs
  crates/sqlite/src/tests.rs
  crates/sqlite/src/to_sql.rs
  crates/sqlite/src/value.rs
  crates/sqlvalue/Cargo.toml
  crates/sqlvalue/src/lib.rs
  crates/wasm-runtime-host/src/host.rs
Due: cargofmt, cargoclippy, cargotest

Remove leaky `rusqlite::Error` from public APIs. We're still leaking `rusqlite::Connection` itself in `Connection::call.*` and locking APIs.
  crates/core/src/records/subscribe/hook.rs
  crates/core/src/schema_metadata.rs
  crates/sqlite/benches/synthetic/connection.rs
  crates/sqlite/src/connection.rs
  crates/sqlite/src/error.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/params.rs
  crates/sqlite/src/rows.rs
  crates/sqlite/src/tests.rs
  crates/sqlite/src/to_sql.rs
  crates/sqlite/src/value.rs
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Further reduce leaky `trailbase_sqlite::Connection` API surface.
  crates/core/benches/benchmark.rs
  crates/core/src/admin/logs/list_logs.rs
  crates/core/src/admin/rows/delete_rows.rs
  crates/core/src/admin/rows/list_rows.rs
  crates/core/src/admin/user/list_users.rs
  crates/core/src/auth/api/otp.rs
  crates/core/src/auth/api/token.rs
  crates/core/src/auth/auth_test.rs
  crates/core/src/auth/oauth/oauth_test.rs
  crates/core/src/auth/tokens.rs
  crates/core/src/auth/util.rs
  crates/core/src/records/create_record.rs
  crates/core/src/records/delete_record.rs
  crates/core/src/records/read_record.rs
  crates/core/src/records/record_api.rs
  crates/core/src/records/subscribe/state.rs
  crates/core/src/records/subscribe/tests.rs
  crates/core/src/records/test_utils.rs
  crates/core/src/schema_metadata.rs
  crates/core/src/server/init.rs
  crates/core/src/transaction.rs
  crates/core/tests/integration_test.rs
  crates/sqlite/benches/synthetic/connection.rs
  crates/sqlite/src/connection.rs
  crates/sqlite/src/tests.rs
  crates/wasm-runtime-host/src/lib.rs
Due: cargofmt, cargoclippy, cargotest

Fix invalid use of sqlean's `SELECT define()` in test setup.
  client/testfixture/guests/rust/src/lib.rs
  client/testfixture/migrations/main/U1728458183__create_virtual_table.sql
  client/testfixture/wasm/wasm_guest_testfixture.wasm
  crates/assets/js/client/tests/integration/wasm_integration.test.ts
Due: cargofmt, cargoclippy, cargotest

PoC: split sqlite connection into a public API and an internal minimal rusqlite executor.
  Cargo.lock
  crates/core/src/admin/query.rs
  crates/sqlite/Cargo.toml
  crates/sqlite/src/connection.rs
  crates/sqlite/src/database.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/sqlite/batch.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/sqlite/mod.rs
  crates/sqlite/src/sqlite/util.rs
  crates/sqlite/src/tests.rs
Due: cargofmt, cargoclippy, cargotest

Absorb rusqlite's `FromSql` trait and start experimenting with a polymorphic connection type.
  crates/sqlite/src/connection.rs
  crates/sqlite/src/experimental/mod.rs
  crates/sqlite/src/from_sql.rs
  crates/sqlite/src/lib.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/value.rs
Due: cargofmt, cargoclippy, cargotest

Clean-up `trailbase_sqlite::Connection` options and fix benchmark builds.
  crates/core/src/admin/logs/stats.rs
  crates/core/src/admin/table/mod.rs
  crates/core/src/auth/error.rs
  crates/core/src/connection.rs
  crates/sqlite/benches/synthetic/benchmark.rs
  crates/sqlite/benches/synthetic/connection.rs
  crates/sqlite/src/connection.rs
  crates/sqlite/src/sqlite/connection.rs
  crates/sqlite/src/tests.rs
Due: cargofmt, cargoclippy, cargotest

Load `*.wasm` components via symlinks. Fixes blog example's auth UI.
  crates/wasm-runtime-host/src/lib.rs
  examples/blog/web/src/components/Auth.tsx
Due: cargofmt, cargoclippy, cargotest

TS client: 401s during token refresh now unset the user. There's no means to recover.
  crates/assets/js/client/src/client.ts
Due: none

Make auth-ui's profile login more resilient to invalid cookies.
  client/testfixture/wasm/auth_ui_component.wasm
  crates/auth-ui/ui/src/components/Profile.tsx
Due: none

Stricter WASM SQLite query filter to avoid specific `sqlean` `SELECT` queries to run on read-only connections.
  crates/wasm-runtime-host/src/sqlite.rs
Due: cargofmt, cargoclippy, cargotest

Minor: cleanup blog example. Remove unnecessary use of sqlean.
  examples/blog/traildepot/config.textproto
  examples/blog/traildepot/migrations/main/U1725019363__create_editor_group.sql
  examples/blog/web/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  cargofmt: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargoclippy: any of: \.rs$ and not (^vendor/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  cargotest: any of: \.rs$ and not (^(vendor|bindings)/) and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  python_format: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_check: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  python_test: any of: \.py$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_format: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  swift_test: any of: \.swift$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  go_format: any of: .*\.(go)$ and \.go$ and not ((crates/assets/js/bindings|crates/schema/bindings|vendor)/.*)
  go_test: any of: \.go$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
  kotlin_test: any of: \.(kt|kts)$, but not: (crates/assets/js/bindings|crates/schema/bindings|vendor)/.*
